[2016-06-23 14:41] hacdias opened #1 "Search by File Name"
Should a search functionality be added or not?

[2016-06-23 15:13] hacdias opened #2 "Improvements to Drag and Drop"
- [x] Move files with drag and drop;
- [x] Upload files dragging them to the directory icon.

[2016-06-23 20:10] hacdias opened #3 "Add "New folder" option"

[2016-06-27 12:40] joeblew99 commented on #1
i think so..

Bleve is great for the job. I used it now on two projects and it was impressive.

http://www.blevesearch.com/

Caddy uses Bleve already btw
http://www.blevesearch.com/docs/Applications-using-bleve/

[2016-06-27 18:37] hacdias commented on #1
Thanks ;) I'll see that.

[2016-06-28 15:14] chesedo opened #4 "Allow other Front Matter formats"
The filemanager plugin currently only supports creating Front Matter in the JSON format. Is it possible to also add support for TOML and YAML?

This will allow other caddy plug-ins that use filemanager to create files in the desired Front Matter format.

[2016-06-28 15:29] hacdias commented on #4
Thanks ;)

[2016-06-28 20:30] #3 closed

[2016-06-28 20:33] hacdias opened #5 "Urgent: improve mobile design."
That ^

[2016-06-28 20:36] hacdias opened #6 "Improve item selecting"
Add a checkbox like thing for the first item selected.

[2016-06-29 09:41] hacdias commented on #4
Done.

[2016-06-29 09:41] #4 closed

[2016-06-29 09:44] hacdias opened #7 "Enable VCS commands"

[2016-06-29 09:47] chesedo commented on #4
Thanks

[2016-06-29 11:21] hacdias commented on #4
You're welcome ;)
On Jun 29, 2016 10:47 AM, "Pieter" <notifications@github.com> wrote:

[2016-06-30 20:28] #6 closed

[2016-06-30 21:24] #7 closed

[2016-07-01 09:50] #5 closed

[2016-07-04 09:29] pwFoo commented on #2
Is multiple file / recursive directory upload possible or planned?

[2016-07-04 09:31] hacdias commented on #2
Hey @pwFoo! Right now you can upload multiple files. I'm not 100% sure about uploading directories.

[2016-07-06 09:51] hacdias opened #8 "Add new object to array of objects"

[2016-07-06 10:25] #8 closed

[2016-07-08 23:01] k0nsl opened #9 "Dead link."
The link in the project description returns a 404.

[2016-07-09 07:31] hacdias commented on #9
I know. It's "dead" because the new version of Caddy wasn't released yet. It should be released in a few weeks/days and then the link will be available. Thanks anyway :)

[2016-07-09 07:31] #9 closed

[2016-07-19 13:16] MSF-Jarvis commented on #9
It's up, might wanna change it now

[2016-07-19 13:25] MSF-Jarvis opened #10 "Initial path does not correspond to the root specified in Caddyfile"
When I set the file manager plugin to show up at /manage, it shows me a listing of /root, which is coincidentally both my Caddyfile's location and my home dir since I run everything as root on my server. This behavior is undesirable in my opinion and many would like it to honor the root specified in the Caddyfile.

[2016-07-19 14:06] k0nsl commented on #9
That's great news. I am really excited to test it out :)

[2016-07-19 14:37] MSF-Jarvis commented on #9
Don't, it's addictive.

On Jul 19, 2016 7:36 PM, "k0nsl" <notifications@github.com> wrote:

[2016-07-19 14:41] hacdias commented on #10
Hello!

Try:

[code]

[2016-07-19 14:44] hacdias commented on #10
And... it is supposed to show the root set on Caddyfile.

[2016-07-19 14:45] MSF-Jarvis commented on #10
I am using exactly that, but I feel it should be defaulting to the root
specified rather than the Caddyfile location

On Jul 19, 2016 8:11 PM, "Henrique Dias" <notifications@github.com> wrote:

[2016-07-19 15:12] MSF-Jarvis commented on #10
I did do a simple

[code]

To end up looking at my /root dir, I'll try to run a couple of tests and get back to you so closing it for now.

[2016-07-19 15:12] #10 closed

[2016-07-19 18:33] mevric opened #11 "Ability to show file checksum on directory listing"
it would be nice to show checksum value for a file. This would be similar to the file size that is displayed by default.

[2016-07-19 19:51] hacdias commented on #11
Hello @mevric!

I understand what you want, but, here's the big question: wouldn't show a checksum for every single file make the File Manager slow to open? I think it would, don't you?

What I think we could do: we could put like placeholders and when if we clicked on them/hover, it would show the checksum. It could be MD5, SHA-1, everything that Go supports. Or, you could select a file (or a bun

[2016-07-19 20:52] mevric commented on #11
:) I agree with the issue mention. Also the solution of displaying the checksum  on demand for each file seems reasonable.

I am new to filemanager and will spend some time going over the code today.
Thanx for the quick response.

[2016-07-20 07:18] hacdias commented on #11
Hey! You're welcome. I will mark this issue as something to do.

[2016-07-28 17:08] pbeckmann opened #12 "Upload multiple files"
Hello,

when i click the upload button in the UI, the window opening allows me to select multiple files to upload.

But when i select multiple files and click ok, i would thought i could upload them together.

But i just get:

::1 - [28/Jul/2016:19:02:55 +0200] "POST /filemanager/ HTTP/1.1" 403 14
::1 - [28/Jul/2016:19:02:56 +0200] "POST /filemanager/ HTTP/1.1" 403 14
::1 - [28/Jul/2016:19:03:07 +

[2016-07-28 19:16] hacdias commented on #12
Hello @pbeckmann!

Thanks for reporting this. I have a question, when you do that, is there any error on browser's developer console (on dev tools)?

It was supposed to work...

Thanks!

[2016-07-28 19:46] pbeckmann commented on #12
Hello,

hm, i just started the pc to look this up, but now it works :+1:
:curious:

Sorry for the disturbance.

Greetings & Thanks

[2016-07-28 19:46] #12 closed

[2016-07-28 19:58] hacdias commented on #12
No problem. :) I will always hear. Hope you enjoy it.

By the way, 403 is a forbidden error. Probably was something preventing caddy to access your files or changing its permissions.

[2016-08-01 21:33] bronzehedwick opened #13 "Custom styles not loading"
Hello, thanks for the great plugin!

I am using filemanager in conjunction with the hugo plugin, and wanted to extend the CSS via the `styles` directive. However, my custom styles are not loaded when I restart Caddy.

Any help would be greatly appreciated!

I'm on OS X 10.10.5 using Caddy 0.9.0.

My Caddyfile looks like this:

[code]

**Note:** Caddy does complain if I give a filepath to a non-exi

[2016-08-01 22:55] hacdias commented on #13
Hello! Thanks for using the plugin and reporting this. I'll check it out tomorrow morning. :)

[2016-08-02 08:50] hacdias commented on #13
Hello! Is that path relative to Caddyfile? Or to root?

If it is relative to root, try changing it to ``` ./public/assets/css/filemanager.css```.

[2016-08-02 13:25] bronzehedwick commented on #13
Thanks for the reply!

The path was relative to the Caddyfile, but the `assets` directory is used for SASS, and other things to compile from, so not directly available from the webserver.

I moved the file into `static`, so it would sync to `public` on a Hugo build; the file path is `public/css/filemanager.css` with the corresponding url at `localhost:2020/css/filemanager.css`.

I thought that mig

[2016-08-02 13:27] hacdias commented on #13
Hey!

What is the error you get?

[2016-08-02 17:27] wenerme opened #14 "Pregenerate assets"
Always got this when I use godep.

[code]

[2016-08-02 18:28] bronzehedwick commented on #13
I actually don't get an error; my custom styles just aren't loaded when I view the page.

[2016-08-02 18:40] hacdias commented on #14
Hello!

Just navigate to ```vendor/github.com/hacdias/caddy-filemanager``` and execute ```go generate```. :D

[2016-08-03 11:22] hacdias commented on #13
Can you check a thing? Open any page of file manager and view its source. Check if there is a <styles></styles> tag in the head.

[2016-08-03 13:39] bronzehedwick commented on #13
No `<link>` tag matching my file, I'm afraid. Here's a screenshot.

<img width="1264" alt="screen shot 2016-08-03 at 9 37 53 am" src="https://cloud.githubusercontent.com/assets/637174/17367500/1f3f2686-595e-11e6-8541-417f4795766b.png">

[2016-08-03 14:27] hacdias commented on #13
Hello!

Look at lines 11 to 13. I already know what the problem is :D Thanks.

[2016-08-03 14:32] hacdias commented on #13
I just pushed a fix. If you can run this from source, please try it to check if it works now please. :D

[2016-08-03 14:53] bronzehedwick commented on #13
Will do, thanks!

[2016-08-03 15:41] bronzehedwick commented on #13
New to go, so perhaps I have a different problem with my environment, but after cloning this repo, and doing `go get github.com/mholt/caddy/caddy` and `go get github.com/hacdias/caddy-filemanager` then run `go build` inside the repo, I get this error:

[code]

[2016-08-03 16:32] hacdias commented on #13
Before ```go build``` execute ```go generate``` please.

[2016-08-03 17:20] bronzehedwick commented on #13
Still get the same error. Should I not have done `go get github.com/hacdias/caddy-filemanager`?

[2016-08-03 18:46] hacdias commented on #13
Oops.. I forgot to mention one thing. You have to run ```go generate``` in the folder where caddy-filemanager is located! Sorry :/

[2016-08-03 19:41] hacdias commented on #13
I added the file to the repository to avoid this problem in the future. But it is always recommended to execute ```go generate``` before building the package.

[2016-08-04 19:13] bronzehedwick commented on #13
I apologize, I can't seem to figure out how to compile a custom binary of caddy with the updated caddy-filemanager code... does `go build` output a binary somewhere in my go path?

[2016-08-04 19:49] hacdias commented on #13
Hey @bronzehedwick! To build a custom caddy, you can use [caddydev](https://github.com/caddyserver/caddydev).

[2016-08-04 20:26] bronzehedwick commented on #13
Ah ha, thank you! Appreciate the n00b help.

I used the new code (I know I'm using the new filemanager code, because I can see titles from my recent PR), but I'm still seeing that same string in the `<style>` tag:

![screen shot 2016-08-04 at 4 23 45 pm](https://cloud.githubusercontent.com/assets/637174/17417206/173c0186-5a60-11e6-8092-6d249badf020.png)

[2016-08-04 20:42] hacdias commented on #13
:( I'll check it again Sorry

[2016-08-04 20:44] bronzehedwick commented on #13
No problem! Thanks for looking into it.

[2016-08-04 20:49] #13 closed

[2016-08-04 20:50] hacdias commented on #13
I promise you it will work now :D

[2016-08-05 15:09] bronzehedwick commented on #13
Thanks! This works.

[2016-08-05 15:51] bronzehedwick commented on #13
@hacdias What's the process / timeline for these updates to be able to be included in a regular caddy build from https://caddyserver.com/download?

Thanks again!

[2016-08-05 16:32] hacdias commented on #13
I don't really know. We've to wait for @mholt.

[2016-08-05 16:34] mholt commented on #13
Waiting for Go 1.7 to be released before I update the build server. Clearing the cache imposes a significant load on the lil' 1-CPU machine. So I do the updates in bulk now.

[2016-08-05 16:59] bronzehedwick commented on #13
OK thanks

[2016-08-07 21:35] dustinromey opened #16 "Provide output in json"
Provide the file structure in json when the header "Accept: application/json" is included.

[2016-08-10 20:13] hacdias commented on #16
The JSON output should be available in which pages? Browse only? Or do you want the content of a file too?

[2016-08-10 20:43] dustinromey commented on #16
In my case its browse only.

My specific use case is the following: I have some files I want to sync to a mobile app. So the plan is to grab json showing the folders and files on the page, and then run through the json to grab the files that it does not currently have (or have been updated, etc.) In an ideal case, it could grab the entire directory tree in one http request. But having to step thro

[2016-08-11 21:22] hacdias commented on #16
Hey @dustinromey! I just pushed with a probable "fix" for this. Try it and tell me if you think that the JSON should be formatted in other way. :D You've to build it from source.

[2016-08-12 11:12] nlimpid opened #17 "There is no style in the content of filemanager"
The console shows that form2js.js and application.js have something wrong. I can see all the list of directory in the webpage, but  the it seems that all the style is missing.

[2016-08-12 15:09] hacdias commented on #17
Can you explain it better please? Everything is working here. What's the error?

[2016-08-13 02:03] nlimpid commented on #17
<img width="1249" alt="2016-08-13 10 03 02" src="https://cloud.githubusercontent.com/assets/3693370/17640876/24e6139c-613d-11e6-97fc-bd485d1f7262.png">

[2016-08-13 14:41] hacdias commented on #17
Can you please open the developer tools (F12) and go to Console and check if there are any errors there?

[2016-08-13 15:29] justrjlewis opened #18 "Make breadcrumb navigation more intuitive..."
So currently we have this: https://cl.ly/152l1B0b4705.  I think the full path should show, or the up-on-level icon should be next to the current location.
![caddy_dev_breadcrumb1](https://cloud.githubusercontent.com/assets/1163648/17644006/c3136850-6140-11e6-8c94-6094c9fcde31.png)
![caddy_dev_breadcrumb2](https://cloud.githubusercontent.com/assets/1163648/17644007/c3143a46-6140-11e6-8d91-f91375c91

[2016-08-13 15:48] nlimpid commented on #17
@hacdias the console shows:
![2016-08-13 11 41 20](https://cloud.githubusercontent.com/assets/3693370/17644076/914fe2a2-61af-11e6-9042-73a65c5e8024.png)

and when I click the form2js.js, I get code followed. And the error for application.js as the same
[code]

[2016-08-13 15:50] hacdias commented on #17
This is really weird. Can you click "view source" on a page o file manager
and paste it here please?

On Sat, Aug 13, 2016, 4:48 PM nlimpid <notifications@github.com> wrote:

[2016-08-13 15:54] nlimpid commented on #17
[code]

[2016-08-13 17:09] hacdias commented on #17
Hey!

Can you send me your caddyfile? Hide all sensitive data first. :)

[2016-08-13 20:04] hacdias commented on #18
I've got an idea and I will work on it. There will only be two itens: the current file and its parent. BUT, when you put your mouse over the parent directory (or the icon on left, I've to choose - help me!), it will show a dropdown list with the parents of parents (... of parents) until it reaches the base directory. There you will be able to select what you want! What do you think?

[2016-08-13 20:05] hacdias commented on #14
Check [this section on README](https://github.com/hacdias/caddy-filemanager#note-for-developers) for further details.

[2016-08-13 20:05] #14 closed

[2016-08-13 20:45] justrjlewis commented on #18
Oh! ...something like this?

![caddy_dev_breadcrumb4](https://cloud.githubusercontent.com/assets/1163648/17645484/ebda16ae-616c-11e6-969a-0ffd63008eb1.png)

[2016-08-13 20:50] justrjlewis commented on #18
What about something like this:

state: ![caddy_dev_breadcrumb_state](https://cloud.githubusercontent.com/assets/1163648/17645497/959423b0-616d-11e6-984d-36164715f6e7.png)
hover/click: ![caddy_dev_breadcrumb_hover](https://cloud.githubusercontent.com/assets/1163648/17645498/9919a7f8-616d-11e6-8fa3-c7b393897df0.png)

[2016-08-13 20:51] hacdias commented on #18
Maybe the second one. I was thinking about doing it vertically. Don't you think so?

[2016-08-13 20:56] justrjlewis commented on #18
I tried it that way at first, but came across a conundrum — would the hierarchy be:

parent

or

Root

and how would the user know?

[2016-08-13 20:59] hacdias commented on #18
For the path `Imagens/2016-06/11/file.jpeg`, it would be:

[code]

So, it should start from the nearest parent and go to the root.

[2016-08-13 21:16] hacdias commented on #18
Are you willing to do this, or should I do it?

[2016-08-13 21:30] Bitti09 opened #19 "[Feature Request] Config Flag to disable some features"
It would be good to have a Flag for disabling one or all of theese things:

- Command bar
- New File/Folder button
- Edit Button

[2016-08-13 21:39] hacdias commented on #19
Hey @Bitti09,

Yes, I agree that this plugin could be "modular", but disabling those 3 features you just get something like the native [browse](https://caddyserver.com/docs/browse) middleware. Why not just use it? :confused:

[2016-08-13 23:59] nlimpid commented on #17
[code]
 And if I remove the mine and header directive, the problem is as same.

[2016-08-14 03:50] justrjlewis commented on #18
I can give it a go! 👍

[2016-08-14 08:01] hacdias commented on #17
Hmm... Try removing ```show ./``` please. If it works tell me. You should
also remove ```on /``` because those are the defaults. Remove one by one
and tell me which one was causing the problem. I'm sure it's one of them.

Thanks!

On Sun, Aug 14, 2016, 12:59 AM nlimpid <notifications@github.com> wrote:

[2016-08-14 09:25] nlimpid commented on #17
Removing the two default value and it is ok now, and I try to add something custom setting and it work fine too.
Thank you for your help!

[2016-08-14 09:26] hacdias commented on #17
Hey!

Thanks for letting me know that. But this is an actual bug, I'll solve it.

[2016-08-16 16:31] jahands opened #20 "Config option to enable raw mode by default"
I'd love to use this to host screenshots, but dislike needing to specify raw=true.
Any way this could be added to config?
Eg.
[code]

[2016-08-16 16:45] jahands commented on #20
Actually, a better solution may be to just put filemanager on files.domain.com and browse on f.domain.com, etc.

[2016-08-16 17:03] jahands commented on #20
Derp. This is solved by using a seperate subdomain/domain like this:
[code]

[2016-08-16 17:03] #20 closed

[2016-08-18 20:21] dustinromey commented on #16
Sorry it took so long. Had to figure out how to build with a plugin, so it took me a bit to get back to it.

The only thing I notice that seems strange is there's a number appended to the end of the json.  For example, on a very simple test directory I got the following:
`[
  {
    "IsDir": true,
    "Name": "test",
    "Size": 170,
    "URL": "./test/",
    "Path": "",
    "RootPath": "",
    "Mo

[2016-08-18 20:22] dustinromey opened #21 "Directories and files permissions"
Looks like filemanager is happy to serve files that begin with a "." Perhaps there should be an option to not allow it to, or perhaps even it should have to be expressly allowed in the caddyfile config?

[2016-08-19 07:35] hacdias commented on #20
Hello! Yes, I think that using a dubdomain for that is a better way, than displaying everything in "raw" mode. Another alternative could be:

[code]

[2016-08-19 10:47] hacdias commented on #16
Hi... that's really strange... That's the length of the JSON. :O Let me check out what's happening

[2016-08-19 10:51] #16 closed

[2016-08-19 10:51] hacdias commented on #16
Done, solved, and closed :)

[2016-08-19 10:51] hacdias commented on #19
Ping @Bitti09

[2016-08-19 10:52] hacdias commented on #18
Hey @justrjlewis, any news? :)

[2016-08-19 15:49] Bitti09 commented on #19
@hacdias filemanager has a better default  site for example
and making thoose 3 modular would allow to  limit a folder view to new file/folder & edit only

[2016-08-19 15:52] hacdias commented on #19
Sure! I'll do it then :)

[2016-08-19 16:21] justrjlewis commented on #18
@hacdias I haven't gotten two it yet.  I had three site launches and I'm still in the thick of it.

[2016-08-19 16:21] hacdias commented on #18
Sure ;) Good work!

[2016-08-19 16:41] hacdias commented on #21
I am thinking... should we only have an option to block "dot files" or have an option to restrict the access to folders/files/patterns the user wants?

[2016-08-19 16:49] hacdias commented on #19
[code]

Sounds good?

[2016-08-19 17:48] dustinromey commented on #21
A block directive certainly sounds more flexible, and I presume not much more effort. Are you thinking of applying a regex to the file name or something more?

I'm trying to think of other things you might want to block, and don't come up with much more. Suggestions?

[2016-08-19 17:50] dustinromey commented on #21
And I actually think the opposite given caddy's focus is for less technical types of people. Some may not even know they don't want to serve dot files. Seems like a good default to hide them, or require some step to allow them.

[2016-08-19 19:59] justrjlewis commented on #18
Thanks!  I've got one to launch tmw and one more then I'm free'd up until the next round. 😸

[2016-08-20 07:44] hacdias commented on #21
So, I'm thinking about creating four new options:

+ `allow` - specific files or folders
+ `allow_r` - regex
+ `block` - specific files or folders
+ `block_r` - regex

There would be a special keyword, `dotfiles`, and by default, the option `block dotfiles` would be active. What do you think?

[2016-08-20 09:39] dustinromey commented on #21
Sounds good!

[2016-08-20 16:34] dustinromey opened #22 "Problems uploading files on Safari 9.11"
No response to any of the buttons, nor drag/drop a file.

[2016-08-20 17:12] hacdias commented on #22
May you please see the console on the developer tools to check which is the error?

[2016-08-20 18:07] dustinromey commented on #17
Just had the same problem testing jwt in front of file manager. Its my first test, so I used auth through the url (i.e. went to address: https://myaddress.net/files/?token=mytoken), and the js and css files return 401.

[2016-08-20 18:17] hacdias commented on #17
@dustinromey, that problem might be related to jwt. Pinging @BTBurke.

[2016-08-20 19:15] hacdias opened #23 "Users, users and more users!"
Related to hacdias/caddy-hugo#86.

I just found that Caddy basic authentication supports more than one user and that I can get the name of the user with a simple `r.BasicAuth()`. This opens the door to a lot of new features.

I'm going to implement #19, #21 and #24 soon and after that, we will support more than one user! How? With basic auth and this marvelous syntax:

[code]

**Exclusively global

[2016-08-20 19:19] hacdias opened #24 "Block and allow specific commands"
Create two new directives to allow and block commands (to be used in the command bar): `allow_command [command]` and `block_command [command]`.

[2016-08-20 20:23] Bitti09 commented on #19
@hacdias  :+1:

[2016-08-21 01:31] BTBurke commented on #17
From a security standpoint that's exactly what you want to have happen.  You're going to want to use cookie-based tokens in this situation so that the browser will automatically send the token with each request for the JS and CSS.

[2016-08-21 11:14] dustinromey commented on #17
And adding the token as a cookie works  just fine. Using the query parameter was just my first cut at testing my jwt generation. I'm not likely to use it again.

Thanks, everyone.

[2016-08-21 11:16] dustinromey commented on #22
<img width="1236" alt="screen shot 2016-08-21 at 7 16 11 am" src="https://cloud.githubusercontent.com/assets/828343/17836866/35672ea8-676f-11e6-8d35-0d3fc78fa2cf.png">

[2016-08-21 11:23] BTBurke commented on #17
Let me know if you have any other problems.  Always glad to hear people are using the JWT plugin and it's working ok for their use case.

[2016-08-21 11:53] hacdias commented on #17
So, thanks Bryan for coming here :). Now, let's make this issue clean and
keep on the topic of the issue.

On Sun, 21 Aug 2016, 12:23 Bryan Burke, <notifications@github.com> wrote:

[2016-08-21 11:55] hacdias commented on #22
That's really strange. I don't get that error in any of the browsers I use.
Yes, that's really, really easy to fix, but I'll search about constants not
being allowed in strict mode. When I get home, I'll fix that. :) Thanks.

On Sun, 21 Aug 2016, 12:16 dustinromey, <notifications@github.com> wrote:

[2016-08-21 19:44] #19 closed

[2016-08-21 19:44] #22 closed

[2016-08-21 19:44] #24 closed

[2016-08-21 20:15] Bitti09 commented on #19
@hacdias
do i get the updated filemanager when using getcaddy.com ? or is selfbuild required at the moment ?

[2016-08-21 21:29] hacdias commented on #19
At the moment you can only use this by building it by yourself. But take
care! As I'm adding more functionalities mentioned in other issues, I do
not grant that everything is going to work.

You should wait till I remove the big advice from the readme that says that
this might be unstable ATM.

Hope it helps!

P.S.: This feature is supposed to be working. But some of the others might
conflict yet.

[2016-08-22 10:52] #17 closed

[2016-08-22 11:09] #21 closed

[2016-08-22 11:09] #23 closed

[2016-08-22 11:17] Bitti09 commented on #19
@hacdias  so config flags = stable
user management = unstable?
ok

[2016-08-22 11:25] hacdias commented on #19
Hey @Bitti09!

I think that everything is more or less stable right now, so you can try everything. But caddy-hugo wasn't still updated to work with this changes. That's why I'm not going to remove the advice from the readme now.

[2016-08-24 18:38] hacdias commented on #18
Hey @justrjlewis, I'll start doing this now if you don't mind.

[2016-08-26 20:59] hacdias commented on #18
@justrjlewis, I've made some changes and I would like you to try. I think it's fine, but not great yet. WHat do you suggest?

[2016-08-28 01:26] justrjlewis commented on #18
Oh awesome, let me download!

[2016-09-02 07:15] brasilikum opened #25 "Allow buttons that execute custom commands"
Imagine the following usecase:
A static hugo website is persisted in a git repository.
The productive version is at the master branch and automatically updated to be served at domain.com.
The staging version is at branch 'staging' and served at staging.domain.com with basic auth.
Both environments would be completely separate.
It would be awsome if the administrator could define a button, in this

[2016-09-03 07:42] hacdias commented on #25
Thanks for moving this. :)

[2016-09-07 06:28] jet10000 opened #26 "About fonts.googleapis.com"
so, China users can't visit Google api , How custom it?

[2016-09-07 19:39] Bitti09 commented on #26
@hacdias what about a config ?
like: china_fonts :  false = google api ; true = china server adress

[2016-09-07 20:01] hacdias commented on #26
Hmm... You're true... Probably it is the best option @Bitti09, thanks! 😃

[2016-09-08 09:21] hacdias commented on #26
@Bitti09, which is the link I should use for China users? `fonts.useso.com` doesn't seem to be working here.

[2016-09-16 10:24] Timmmm opened #28 "Add Ctrl-S save shortcut."
I have created a totally untested patch for this:

https://github.com/hacdias/caddy-filemanager/pull/27

[2016-09-16 10:27] Timmmm commented on #2
In addition to uploading by dragging files onto a directory icon it should be possible to drop files on the page background to upload them to the current directory.

[2016-09-16 18:20] hacdias commented on #28
Just closing this, the PR is enough 😄

[2016-09-16 18:20] #28 closed

[2016-09-29 12:45] fanningert opened #29 "Feature-Request: Download/Upload directory structure as archiv (zip, ..)"
What are you thinking about a upload/download function for a complete directory structure (incl. files) as archiv (zip, tar,...)?

[2016-09-29 12:47] fanningert opened #30 "Feature-Request: Button for directory creation"
I know it is possible to create a directory over command. But this function is not for all users perfect. So a extra button for directory creation is perfect, like the file create button.

[2016-09-29 18:25] hacdias commented on #30
Wait... the File Create button doesn't create folders? Try typing a name without an extension please. I thought it worked :(

[2016-09-29 18:26] hacdias commented on #29
That's an interesting idea! I'll mark this as to-do.

[2016-09-29 18:29] hacdias commented on #30
I've tried it here and it works. Just let me know if it works there too 😄 Anyway, thanks for the suggestion!

[2016-09-29 18:33] fanningert commented on #30
Thanks, its works.
But a little text for information about this two features (without extension a directory, with extension a file) a great action for usability. (Above the input field for example)

[2016-09-29 18:33] hacdias commented on #30
I'll add it 😄 Thanks!

[2016-09-29 18:35] fanningert commented on #30
But I think I found a little bug.
When I created a file or directory and I click a second time on the create button, no input field is visible.

[2016-09-29 18:36] hacdias commented on #30
You're absolutely right! I'll check that too! Thank you 😄 I promise I'll do it as soon as I've time.

[2016-09-29 18:36] fanningert commented on #30
No problem. Thanks for the create addon.

[2016-09-29 18:37] hacdias commented on #30
You're welcome! And thank you too, for being its user! 😃

[2016-09-29 18:41] fanningert opened #31 "Rename a file or directory don't update the link of the object"
When I rename a file or directory (it's working). The link is not updated. I need to refresh the page to get the new link for the object.

Reproduce steps:
1. Rename a file or directory
2. click on the file or directory to open it. -> Result 404

[2016-09-29 18:51] hacdias commented on #31
Thanks for reporting this! 😃

[2016-09-29 20:46] #31 closed

[2016-10-01 12:25] hacdias commented on #26
I'm closing this issue because the problem was already [solved by Google](http://stackoverflow.com/questions/25677460/google-font-make-page-load-very-slow-in-china/39752405#39752405).

[2016-10-01 12:25] #26 closed

[2016-10-01 12:56] #18 closed

[2016-10-01 12:56] #30 closed

[2016-10-03 02:47] jet10000 commented on #26
Cool!

[2016-10-16 12:41] Bitti09 opened #32 "Feature-Request: Show Command output"
Would be nice to see the output  of a command for example:
download progress for wget or
clone/push progress for git

[2016-10-17 15:52] hacdias commented on #32
Hello @Bitti09! I thought that it was working like that 😕 I'll take a look as soon as I can.

[2016-10-17 15:53] hacdias opened #33 "WebDav? WebDav!"
https://www.reddit.com/r/programming/comments/57wc6c/plugin_for_caddy_webserver_that_provides_an_web/

Add different path scopes for different users.

[2016-10-19 08:18] anansii opened #34 ""show foo on /bar" configuration not working as expected"
Hi

running Caddy 0.9.3 on Windows I'm not able to show the contents of a file if the URL is not pointing to the actual folder.

Action: Using URL http://www.domain.tld/files
Expected behavior:  filemanager shows files in C:/Sites/domain.tld/www/dist
Result: This works

Action: Clicking on index.md to see its contents
Expected behavior:  filemanager shows contents of C:/Sites/domain.tld/www/dist/i

[2016-10-19 15:36] hacdias commented on #34
Hello @anansii!

Sorry, but I can't help you with this. Even though I know which is the problem: the *markown* plugin. It has a bigger priority than the *filemanager* plugin so it will try to render that file. Then, as it doesn't exist, it results in an error.

The only solution for this is to put *filemanager* before *markdown* in the directives list, but I'm not sure if it would be a good idea.

[2016-10-19 15:57] anansii commented on #34
Hi

I found this: https://github.com/mholt/caddy/issues/409
I believe the suggested solution there is indeed to put the custom code higher up in the directives list.

Thanks for taking the time :)

[2016-10-19 17:15] mholt commented on #34
Yup, if you want filemanager to have priority over rendering markdown files, then you need to move filemanager up on the list.

[2016-10-19 17:33] hacdias commented on #34
I'm going to close this now because you already know what to do @anansii! Anything else, tell me! 😄

[2016-10-19 17:33] #34 closed

[2016-10-19 17:40] anansii commented on #34
I'm sorry, I'm confused.  Changing the order inside my Caddyfile was the first thing I tried and it didn't work, so I assumed the plugin needs to register itself higher in the "execution order list". I am quite new to Caddy and not familiar at all with its code, but that's what I gathered from the other issue. Am I wrong?

[2016-10-19 17:45] mholt commented on #34
The order in the Caddyfile doesn't matter, you're right. It has to change
in the code.

On Wed, Oct 19, 2016, 11:40 AM anansii <notifications@github.com> wrote:

[2016-10-20 09:39] anansii opened #35 "filemanager middleware needs to register itself higher up the directive chain"
As mentioned here https://github.com/hacdias/caddy-filemanager/issues/34
the filemanager middleware needs to register itself higher up the directive chain than the markdown middleware for it to be able to show the contents of files that are handled by the markdown middleware.

In here https://github.com/mholt/caddy/blob/master/caddyhttp/httpserver/plugin.go
filemanager needs to be above markdown.

[2016-10-20 21:13] #35 closed

[2016-10-20 21:13] hacdias commented on #35
Done 😄

[2016-10-25 20:10] hacdias commented on #29
Hello @fanningert! I think you'll be happy to know that I've implemented this! On the next caddy release, hopefully, you can download directories, or download specific files, as zip, tar, tar.gz or tar.bz2!

[2016-10-25 20:38] fanningert commented on #29
I will test it, when it is out. And thanks for your work.

[2016-10-25 21:54] hacdias commented on #29
You're welcome! And sorry for the delay!

On Tue, 25 Oct 2016, 21:38 Thomas Fanninger, <notifications@github.com>
wrote:

[2016-10-30 12:04] #29 closed

[2016-10-30 12:54] hacdias commented on #32
This should be done with a websocket right? Or there is a better way? @Bitti09

[2016-10-31 21:28] hacdias commented on #32
@Bitti09, what if the command asks you for input? Do you think it would be an interesting feature to allow the user to interact with the command after sending it?

[2016-10-31 21:45] hacdias commented on #32
@Bitti09 check [this](https://dl.dropboxusercontent.com/u/100414923/video.webm) out!

[2016-11-01 12:34] #33 closed

[2016-11-01 13:48] nwgat commented on #1
caddy uses bleve for its built-in search

[2016-11-01 15:01] hacdias commented on #1
Hello @nwgat: I'll just implement a basic search by file name. If someone wants a more powerful search, they can use the plugin built specially for it. BTW, it's already working 😄

[2016-11-01 15:01] #1 closed

[2016-11-01 15:01] nwgat opened #38 "How to build Caddy with File Manager?"

[2016-11-01 15:09] hacdias commented on #38
Hello @nwgat!

To build this plugin alongside with Caddy, you need, of course, to have Go installed and all of that. To activate the plugin, you should add to [run.go](https://github.com/mholt/caddy/blob/master/caddy/caddymain/run.go#L20) the line `_ "github.com/hacdias/caddy-filemanager"` and then you just have to build Caddy in the normal way using `go build`.

Hope it helps. If you need more st

[2016-11-01 15:19] hacdias commented on #32
This is officially done. Right now I'm not thinking about allowing interactivity with the commands. Only if someone requests it.

[2016-11-01 15:19] #32 closed

[2016-11-01 15:32] nwgat commented on #38
i was missing `_` lol
also i keep getting

[code]

my caddyfile is

[code]

[2016-11-01 15:36] hacdias commented on #38
@nwgat, I don't think error is not related to FM. Try checking if Caddy has permissions to access that folder.

[2016-11-01 15:49] nwgat commented on #38
well caddy with browse works fine
can it be that filemanager runs before basicauth or something?

here is the amd64 binary
https://transfer.sh/B3ONw/caddy

[2016-11-01 16:00] hacdias commented on #38
File Manager works flawlessly with Basic Auth.

I can't try your binary because I'm on Windows :/

But everything is working here. The error is clear (`stat .: permission denied`). The process can't open the file. The Operating System returns permission denied :|

[2016-11-01 16:00] hacdias commented on #38
@nwgat can you try giving more permissions to the files? Just to try it out.

[2016-11-01 16:21] Bitti09 commented on #32
@hacdias  the command output (like git in your short video) is enough. I don't  need any interactivity after initial  command. :+1:

[2016-11-02 15:02] tmacychen opened #39 "cannot find package "github.com/spf13/hugo/parser""
Hi,When building the FM with caddy,I find this error. Then I just run "go get github.com/spf13/hugo/parser ", but it doesn't work. So I find this project url is https://github.com/spf13/hugo , and parser url is "https://github.com/spf13/hugo/tree/master/parser" .
What shoud I do?

[2016-11-02 15:58] tmacychen commented on #39
It's seams like network problem,  I just try again and it works.
When I run `./build.bash` after go generate, I find an error report
`>./build.bash
# github.com/hacdias/caddy-filemanager/file
../../../hacdias/caddy-filemanager/file/listing.go:40: not enough arguments in call to u.FileSystem.OpenFile`
Does OpenFile function need a context param  ?

[2016-11-02 18:38] nwgat commented on #38
got it working in the end, seems to be permissions

[2016-11-02 18:55] hacdias commented on #38
Cool @nwgat! I'm gonna close this 😄 If you have any suggestion, please tell me!

[2016-11-02 18:55] #38 closed

[2016-11-02 18:56] hacdias commented on #39
That's strange! It should work, which version of Go are you using?

[2016-11-02 19:08] hacdias commented on #39
Oh... sorry... it didn't need it before!!!! I'll fix it as soon as I can. Thanks

[2016-11-02 19:39] hacdias commented on #39
Solved!

[2016-11-02 19:39] #39 closed

[2016-11-02 23:47] nwgat opened #40 "Video & Picture Thumbnails?"
you can use ffmpeg on the server if its installed

[2016-11-02 23:58] nwgat opened #41 "more grid types & slideshow mode!"
a album grid with sideshow would have been nice.
also there is alot of wasted space on the sides, whats up with that?

[2016-11-03 14:23] sinni800 opened #42 "Add PHP as editable file type"
I am sure ACE supports PHP editing and this change would be trivial

There are a lot of modes available: https://github.com/ajaxorg/ace/tree/master/lib/ace/mode

Optionally, allow more file types to be added using directives (and their respective ace mode, maybe? Though that would be a lot of coupling...) as per https://github.com/hacdias/caddy-filemanager/blob/master/file/info.go#L100

[2016-11-03 14:27] sinni800 opened #43 "Allow ACE and fonts to be loaded locally"
I don't want to leave a fingerprint on other servers about things I do on my local server... Would it be possible to include ACE and the fonts with the assets? Ace is loaded with a fixed version anyway and it would help if the server is deployed in a local in-company server.

[2016-11-03 14:39] sinni800 commented on #42
#44 Added a PR for now

[2016-11-03 21:08] hacdias commented on #42
Hello @sinni800! Thanks for this suggestion! The funny thing is that I can edit those files without adding them to the exceptions because they are text files. Which OS are you using?

[2016-11-03 21:09] hacdias commented on #43
I'm going to think about this, but I think it would make the plugin a lot heavier. But I'll check it out 😄

[2016-11-03 21:10] hacdias commented on #41
Tell me what would you change! 😃

[2016-11-03 21:16] hacdias commented on #42
I'm using mimetypes to check the type of the file and PHP can have these:

[code]

Probably your computer doesn't consider it a `text/`. I'm going to add the others ASAP.

[2016-11-03 21:18] sinni800 commented on #42
Crazy, I am actually on Archlinux for the server.

I don't know if I need any extra things though

[2016-11-03 21:20] hacdias commented on #42
I merged your PR right now but in the weekend I hope I've time to take a look at this. Thanks! 😄

[2016-11-04 06:21] apremalal opened #45 "files links are generated with absolute path"
Hi Devs!,

I got the following Caddyfile

[code]
To get to the file manager I can visit` http:://localhost:8083/portal/admin`

Then all the file manager links are generated as below
/admin/file1.txt
/admin/file2.txt

I was expecting
/portal/admin/file1.txt
/portal/admin/file2.txt

Have I misconfigured or is this not achievable?

[2016-11-05 20:15] hacdias commented on #45
Hello @apremalal! Sorry for the delay.

I think this is, actually, a bug on File Manager, but as an workaround you can try:

[code]

[2016-11-06 11:31] #45 closed

[2016-11-06 11:32] hacdias commented on #41
Pinging @nwgat

[2016-11-06 11:32] hacdias commented on #41
By the way, you can incorporate styles if you want @nwgat using the option `styles`.

[2016-11-06 15:27] #2 closed

[2016-11-06 18:18] apremalal commented on #45
Hi @hacdias,

Thanks for the response and for the quick fix.

Suggested workaround is not going to work. To get to the file manager users will need to go to
/portal/portal/admin and the generated links will have /portal/admin which is not going to be serverd by the file manager.

Actually I tried your suggestion and the results are same as above.

How can I get a new caddy distribution with your f

[2016-11-06 18:29] hacdias commented on #45
@apremalal you're right. 😄

[2016-11-06 18:34] hacdias commented on #45
Sorry!

[2016-11-06 18:34] hacdias commented on #45
@apremalal IDK when will the new version be available for download at caddyserver.com. The only way now is building this from source.

@mholt, when are you going to update the plugins?

[2016-11-07 09:48] apremalal commented on #45
@mholt is there a documentation on bulding caddy with selected plugins?. I wasn't able to find a one.

[2016-11-07 15:15] mholt commented on #45
@apremalal  I've replied here to your question: https://forum.caddyserver.com/t/building-caddy-with-latest-selected-plugins/947/2?u=matt

@hacdias As soon as I can get around to it, sorry! 😓 I'd rather get the new build server working, frankly, so I won't have to do this manually anymore.

[2016-11-07 20:41] outhud opened #47 "'directory' folder missing?"
I'm trying to get caddy-hugo, using go get, but it gives:

Sure enough, I don't see a directory folder here in caddy-filemanager.

[2016-11-10 20:49] ptman opened #48 "500 Internal Server Error"
[code]

/_fileman/README.md gave 500 as I described in https://github.com/mholt/caddy/issues/1250

[2016-11-11 11:53] apremalal commented on #45
@mholt thanks for the response

[2016-11-11 20:51] hacdias commented on #45
Hey @mholt! Okay, no problem ;)

[2016-11-11 20:54] hacdias commented on #48
Hello @ptman. Try disabling markdown please and tell me what happens

[2016-11-11 20:55] ptman commented on #48
works without markdown, but I'd like to use it

[2016-11-11 21:02] hacdias commented on #47
Hi @outhud! Sorry for the delay 😞 Caddy-Hugo is not compatible with the newest version of File Manager. I'll update it ASAP.

[2016-11-11 21:06] hacdias commented on #48
The problem here is that the `markdown` plugin is taking the control of the request instead of `filemanager` because of its higher priority. I can't do much about this but give you an workaround: you can use the File Manager in a subdomain, like:

[code]

[2016-11-11 21:08] ptman commented on #48
I see. That would not be quite the outcome I had hoped for. Can @mholt weigh in on this? Why can't the markdown plugin let go of the path controlled by filemanager?

[2016-11-11 21:13] hacdias commented on #48
But this behavior is strange since I've already moved `filemanager` to have a bigger priority compared to `markdown`. Are you downloading from caddyserver.com or building from source?

[2016-11-11 21:14] ptman commented on #48
It is version 0.9.3 downloaded from caddyserver.com.

[2016-11-11 21:15] ptman commented on #48
I did not find clear instructions quickly about how to compile from source with filemanager plugin

[2016-11-11 21:17] hacdias commented on #48
I still think this is a really strange behavior. It's clear that the problem is a conflict between markdown and filemanager (pinging @mholt). Can you please try to compile the latest version with filemanager?

Check this: https://forum.caddyserver.com/t/building-caddy-with-latest-selected-plugins/947

[2016-11-13 11:13] ptman commented on #48
Ok, I got it build. Doesn't seem to work too well, though. No longer get 500 ISE, but /_fileman/ links are to /_fileman/_fileman/file-i-clicked

Also can't seem to create or edit files.

[2016-11-13 16:57] mholt commented on #48
My bad, I need to update the build server. (Sorry!)

[2016-11-13 17:03] hacdias commented on #48
That is, indeed, a but @ptman (I think). I'll try to see it ASAP.

[2016-11-13 17:52] ebudan commented on #48
Just chiming in to note that I'm seeing the same behaviour (doubled route prefix for Filemanager links; unable to save/create). This is looking at commits
caddy 12fd34991640c711738692c49218ee0f2664d132
filemanager e03fa7eb0c9e6bd2108da2d10e0a73c7adf34dc9
...and built from sources, with extra plugins filemanager, expires, search.

I'll be happy to provide my Caddyfile and more details if that helps

[2016-11-13 17:58] hacdias commented on #48
Hey @ebudan, can you please send the caddyfile?

[2016-11-13 18:15] ebudan commented on #48
Certainly, here's what I'm currently working with. Added .txt to make git co-operate, sorry.
(Comments about Filemanager and Markdown are from earlier, server-built image, not sure if they still apply.)

[Caddyfile.txt](https://github.com/hacdias/caddy-filemanager/files/587947/Caddyfile.txt)

[2016-11-14 14:20] ebudan commented on #48
The duplication of the Filemanager base-url seems to be happening at handlers/listing.go:ServeListing(). Changing

    listing, err := file.GetListing(u, i.VirtualPath, c.AbsoluteURL+r.URL.Path)

to

    listing, err := file.GetListing(u, i.VirtualPath, r.URL.Path)

lets me edit again, but I haven't dug into this enough to be sure there are no side effects.

The create and save problem happens bec

[2016-11-14 16:09] ebudan opened #49 "Creating a page with number content only results in PANIC and response-code 500"
This is a bit of an edge case, but...  who knows who might need a page with a number. (I wouldn't, but hit this while tracking down something else.)

If you use Filemanager to create a page containing only something that can be parsed as a number, `handlers/put.go:PreProccessPUT()` will panic at the following point:

    mainContent := data["content"].(string)

A quick inspection shows that saving

[2016-11-14 16:25] ebudan commented on #49
Just realised: this also comes up if you try to delete all page content and save an empty page.

[2016-11-14 17:27] hacdias commented on #48
I'll try to check that today. Thanks :)

On Mon, Nov 14, 2016, 2:20 PM ebudan <notifications@github.com> wrote:

The duplication of the Filemanager base-url seems to be happening at
handlers/listing.go:ServeListing(). Changing

listing, err := file.GetListing(u, i.VirtualPath, c.AbsoluteURL+r.URL.Path)

to

listing, err := file.GetListing(u, i.VirtualPath, r.URL.Path)

lets me edit again, but I ha

[2016-11-14 19:07] hacdias commented on #48
I''m going to solve this now 😄 I just solved it, but I want to improve one or two things.

[2016-11-14 20:10] hacdias commented on #48
Hello @ptman! The problem of double URLs is fixed. @ebudan what you told me is fixed too!

For you both, please try it 😄 I'll look into the other issues.

[2016-11-14 20:10] #48 closed

[2016-11-14 20:15] #49 closed

[2016-11-14 20:15] hacdias commented on #49
Fixed. Thanks 😄

[2016-11-14 20:19] hacdias commented on #47
I think it works now! 😄

[2016-11-14 20:19] #47 closed

[2016-11-15 09:18] ptman commented on #48
so the double URL may be fixed, but now I get 500 when going to /_fileman/:

500 Internal Server Error

Try reloading the page or hitting the back button. If this error persists, it seems that you may have found a bug! Please create an issue at hacdias/caddy-filemanager repository on GitHub with the code below.

template: listing:116:80: executing "listing" at <.Config.FullWebDavUR...>: can't eval

[2016-11-15 09:29] ebudan commented on #48
@ptman, is this still your self-compiled server? Check that you remembered to run `go generate` in the caddy-filemanager directory before building the server. FTR, I've been building back and forth, and am not seeing this.

[2016-11-15 09:34] ptman commented on #48
you are absolutely right. I updated caddy and caddy-filemanager but forgot about go generate.

Now, however, creating or uploading files results in 404 response to the PUT request

[2016-11-15 10:09] ebudan commented on #48
@ptman Confirming 404 on create and upload - will you open a new bug on that?

[2016-11-15 10:23] ptman opened #51 "upload/create PUT results in 404"

[2016-11-15 10:23] ptman commented on #48
https://github.com/hacdias/caddy-filemanager/issues/51

[2016-11-15 10:49] hacdias commented on #48
I'll check that as soon as I get home. Thanks. And sorry for this :(

On Tue, Nov 15, 2016, 10:23 AM Paul Tötterman <notifications@github.com>
wrote:

[2016-11-15 13:39] #51 closed

[2016-11-15 13:39] hacdias commented on #51
Hi @ptman. Thanks for opening this and sorry for this bug.

[2016-11-15 13:57] ptman commented on #51
No, thank you for fixing bugs so quickly.

Now however, when uploading files (not when creating), the files get the name prefixed with "undefined"

[2016-11-15 14:12] hacdias commented on #51
@ptman that's strange... it's not happening here. I can check it better. It must be related to the JavaScript. Can you please try to `go generate`? Just to make sure.

[2016-11-15 14:22] ptman commented on #51
I did manage to remember go generate this time. The result stays the same after:

    go get -u github.com/hacdias/caddy-filemanager
    go generate github.com/hacdias/caddy-filemanager
    ./build.bash
    ./caddy

[2016-11-15 15:07] hacdias commented on #51
@ptman I'll check that ASAP.

[2016-11-16 19:45] hacdias commented on #51
@ptman I can't reproduce your error :/

[2016-11-17 11:49] ptman commented on #51
I updated caddy and caddy-filemanager
I ran go generate
I built caddy using ./build.bash
running caddy, I went to the filemanager
I chose Upload (up arrow on top right)
I chose a file (README.md from caddy-filemanager)
The file was uploaded, but it wasn't named "README.md", but "undefinedREADME.md"

[2016-11-17 16:38] hacdias commented on #51
Hey Paul! You choose the button! I was just trying to drag and drop. When I
arrive home I'll check that. I forgot that since dragging and dropping is
easier.

On Thu, 17 Nov 2016, 11:49 Paul Tötterman, <notifications@github.com> wrote:

[2016-11-20 14:56] ptman commented on #51
I don't have anywhere to drag from, as I only have my browser and a bunch of terminals

[2016-11-20 15:08] hacdias commented on #51
Sorry, I haven't checked this yet. But today I'll fix this. I promise. I'm
not home right now but as soon as I get there I'll fix this!

On Sun, 20 Nov 2016, 14:56 Paul Tötterman, <notifications@github.com> wrote:

[2016-11-20 19:34] hacdias commented on #51
@ptman fixed!!!

[2016-11-20 20:05] ptman commented on #51
So it is, thank you!

[2016-11-20 20:06] ptman opened #52 "Add (+) -button stops working after uploading file."
But after a browser refresh it starts working again.

[2016-11-20 20:08] hacdias commented on #52
@ptman I though I had solved this a while ago... Let me fix it.

[2016-11-20 20:12] #52 closed

[2016-11-21 10:02] ptman commented on #52
thx

[2016-11-21 10:03] hacdias commented on #52
You're welcome! :smiley:

On Mon, Nov 21, 2016, 10:02 AM Paul Tötterman <notifications@github.com>
wrote:

[2016-12-16 07:00] pepa65 commented on #48
Looking forward to seeing this fixed in 0.9.4!

[2016-12-21 23:34] jmthackett opened #53 "Markdown live preview"
I realise this is a bit niche, but when editing *.md it'd be neat to see a live rendering, similar to https://github.com/benweet/stackedit/

[2016-12-22 03:50] jet10000 commented on #43
cdnjs.cloudflare.com and googleapis still blocked by china firewall.

[2016-12-23 20:42] hacdias commented on #53
Hey @jmthackett! Thanks for the suggestion. I'll look into it 😄

[2016-12-23 20:43] hacdias commented on #43
Hey @jet10000 and @sinni800! Sorry for not updating this issue. I'll check it.

[2016-12-25 07:41] GalvinGao opened #54 "Please change the font mirror from googleapis to locally"
# Issue
As long as this plugin have been wild using in all of the world, googleapis might not a perfect solution to provide font files. They might a little big for filling in to the file manager plugin, but it is really useful if you are using a local network that don't have any network connection to internet.

# Solution
So please change [the template (hacdias/caddy-filemanager/blob/master/_embed

[2016-12-25 07:41] GalvinGao commented on #54
@hacdias have a look~

[2016-12-25 07:58] GalvinGao opened #55 "Consider using new framework"
Materializecss is the material framework that makes you crazy because it is really handy.
They have great components, grids and so on.
Their project page can be found [here](http://materializecss.com/).

Have a nice day!

[2016-12-27 09:07] hacdias commented on #55
Hello @GalvinGao,
Thanks for the suggestion. I like the appearance of that framework, but I ask you, what are the advantages? Right now, I'm not using any framework to keep everything the lightest I can. What do you think?

[2016-12-27 12:05] goxofy commented on #43
same issue thank you!

I wanna deploy caddy with filemanager in my in-company net.

[2016-12-27 14:04] sinni800 commented on #43
Well @hacdias if you consider how ready people are to create a hubdreds of mb thick tree of node dependencies I think you're quite fine deploying like 3mb more

[2016-12-27 14:46] hacdias commented on #54
Hey @GalvinGao! Gonna check this.

[2016-12-27 15:03] #43 closed

[2016-12-27 15:27] #54 closed

[2016-12-27 17:54] pepa65 opened #56 "Why insert_drive_file so large"
I almost think I'm missing something, but I'm now on Caddy 0.9.4 and it still looks like the attached screenshot. Can anything be done to make it look more.... 'professional' or 'nice' or... Is something wrong with the way I'm invoking filemanager??
![filemanager](https://cloud.githubusercontent.com/assets/6505000/21505248/1936ca7a-cc98-11e6-9041-7b3bc13eb53e.png)

[2016-12-27 21:08] hacdias commented on #56
Hello @pepa65!

That isn't supposed to happen! It just means that you are unable to load the Google Icons Font. I can also see that you don't have the Roboto font loaded. Do you have any problems connecting the Google servers? Like this URL: https://fonts.googleapis.com/icon?family=Material+Icons .

Though, previously today, I've already changed this to have everything being loaded locally without

[2016-12-27 21:38] hacdias opened #57 "Write docs for after_save and before_save"
That ^

[2016-12-28 02:07] pepa65 commented on #56
I don't understand why I would have problems connecting to the Google servers... I use gmail, translate, calendar, search. That URL gives:
[code]

[2016-12-28 02:16] pepa65 commented on #56
Sorry for sounding the alarm... It turned out to be a Firefox setting (not allowing pages to use their own fonts). It probably wouldn't even have worked when the fonts are local. I am good now.

As a feature request though, it would be great to just have a listing of files and their properties like on the file manager's 'detailed' view, so more lines can fit in the screen. (I never use the 'icon'

[2016-12-28 09:40] GalvinGao commented on #54
Thanks so much about this! It gonna helps me out a lot. Thanks!

[2016-12-28 09:44] GalvinGao commented on #55
That's a point! I agree with you about the light. So may be we can pick a part of the framework or just reference it so we may have more feature about it. What do you think of that?~
U r doin a really good job. It helps me to build my home file server without building a massive php on my iMac. I'm really appreciate it! Thanks!

[2016-12-28 15:30] #56 closed

[2016-12-28 15:46] pepa65 commented on #56
I guess that would be an extension of the current stylesheet and one more option added to the Switch View toggle.

[2016-12-29 00:09] hacdias opened #58 "Detailed file view"
Suggested by @pepa65 on #56

[2016-12-31 21:04] hacdias commented on #58
@pepa65, would you mind to try the new version (building from source)? There are some features that aren't available yet, but I'd like to know what do you think about the updated view modes. 😄

[2016-12-31 21:08] hacdias commented on #55
Hello @GalvinGao!  I'm not thinking about using materialize.css. Though, a lot of improvements were made in the last days. Not every new feature is working yet, but I'd like you to test if you could. 😄

*Hint: press F1.*

[2017-01-01 03:06] pepa65 commented on #58
This means I have to build filemanager and then build caddy with this repo?? I an try...

[2017-01-01 07:48] GalvinGao commented on #55
Wow I will try it! But, should I just download a new version on caddyserver.com or I should kind of build it by myself?

[2017-01-01 07:51] GalvinGao commented on #55
Oh I found it at [here~](https://github.com/hacdias/caddy-filemanager/commit/ae54ba4ce48c1e4bb374894acc11c07bc3edfd65#diff-62bbab3e3cd7b0f02c5722fe62089badR172)

[2017-01-01 07:52] GalvinGao commented on #55
Actually that's a good update! I loves shortcuts, always 😁

[2017-01-01 08:29] hacdias commented on #55
Hey Galvin!

To try the new version you should build it from source. If can't or don't
have availability to do it, just tell me your OS and the architecture and
Ill build it for you and send you the binary so you can test it :)

Happy New Year!
On Sun, 1 Jan 2017 at 07:52, Galvin Gao <notifications@github.com> wrote:

[2017-01-01 08:32] hacdias commented on #58
Hello PePa,

You can find the instruction here:
https://github.com/mholt/caddy/wiki/Extending-Caddy. If you're having some
troubles you can tell me your OS and Architecture and I'll built it for you
:)
On Sun, 1 Jan 2017 at 03:06, PePa <notifications@github.com> wrote:

[2017-01-01 09:50] GalvinGao commented on #55
I'm in OS X El Capitan 10.11.6 (Unix-Like) x64. If you have a binary that's perfect! Thanks!

[2017-01-01 10:05] hacdias commented on #55
Thanks @GalvinGao! Here's the link: https://www.dropbox.com/s/tptwcsnp995vrlb/caddy_filemanager_darwin_amd64?dl=0

[2017-01-01 10:13] GalvinGao commented on #55
Thanks! I'm doing the test now, wait a minute and I will send you some screenshots!

[2017-01-01 10:13] hacdias commented on #55
Sure!

[2017-01-01 10:14] hacdias commented on #55
You *may* find some similarities with Google Drive interface 😆

[2017-01-01 10:19] GalvinGao commented on #55
Ummm I think I have some problem with the file location. I will send you a screenshot

[2017-01-01 10:20] GalvinGao commented on #55
![snip20170101_6](https://cloud.githubusercontent.com/assets/12567059/21580848/fe096f7c-d04e-11e6-9620-6dafc0eecc82.png)

[2017-01-01 10:21] hacdias commented on #55
Sorry :( It was my fault!!!

[2017-01-01 10:21] hacdias commented on #55
Wait a bit please

[2017-01-01 10:21] GalvinGao commented on #55
That's ok. This is the mistake that everyone will make 😝

[2017-01-01 10:22] GalvinGao commented on #55
My Caddyfile

`192.168.1.20:2017
filemanager /file {
    show           /Volumes/
    allow_new      true
    allow_edit     true
    allow_commands true
}`

[2017-01-01 10:23] hacdias commented on #55
Not your fault! It was my problem :P I'm going to reupload the binary.

[2017-01-01 10:23] hacdias commented on #55
I forgot `go generate`. I was using the `debug` option and it was linking to my file system.

[2017-01-01 10:24] GalvinGao commented on #55
😝

[2017-01-01 10:30] hacdias commented on #55
Here @GalvinGao : https://www.dropbox.com/s/ksqpeejkuk5r7b4/caddy?dl=0

[2017-01-01 10:30] GalvinGao commented on #55
Thanks! I'm downloading it~

[2017-01-01 10:31] hacdias commented on #55
Cool! Then tell me what you think! There are some features that aren't available yet. And some stuff doesn't work on mobile (yet!).

[2017-01-01 10:31] hacdias commented on #55
But I think it is better than the last version 😄

[2017-01-01 10:34] GalvinGao commented on #55
At all you have saved me from configuring the nginx and php's filelist. You are just, like an angel.
I'll have a look! Thanks so much for sending me this!

[2017-01-01 10:35] hacdias commented on #55
Hahahaha. Thanks and you're welcome 😄 I really like this project and want to make it even better.

[2017-01-01 10:42] GalvinGao commented on #55
![snip20170101_7](https://cloud.githubusercontent.com/assets/12567059/21580878/650cbc0e-d051-11e6-84e6-f3a73c093ddb.png)

I'm fall in love.
Reallllllllllllly beauuuuuuuuuutiful!!!!!!!!!!!

[2017-01-01 10:43] hacdias commented on #55
Thanks! Though I took my inspiration from Google Drive. We should not forget it 😆 Try changing the view type!

The sorting in "mosaic" type is not available yet, but it is already possible in detailed mode.

[2017-01-01 10:49] GalvinGao commented on #55
![img_1631](https://cloud.githubusercontent.com/assets/12567059/21580904/fec12c3a-d052-11e6-8a99-29fd835eadc4.PNG)

It just cost 5s loading in bad 3G (~100kb/s)!
Good performance!

[2017-01-01 10:51] hacdias commented on #55
Cool! I haven't tested it in those terms but I think it can be improved using minified versions of CSS and JS for example :p

[2017-01-01 10:52] GalvinGao commented on #55
OK I finally got a problem:

As long as I'm using my iPad more than using computer, the file seems only selectable with my iPad and not being redirect to the file UI. Same thing occurs on folders. I'm doing js track on my computer to try to get help for you with this problem.

Please check it out a bit.

**I might going out with my parents, so it might have a little lonely time with yourself. I wi

[2017-01-01 10:54] hacdias commented on #55
@GalvinGao yup. I have an iPhone and a Nexus 7. On Nexus (Chrome) it works just like in desktop and I was really glad. On iPhone it didn't. I'm not sure if it's because of Safari but I already know there's that problem. I'll open an issue and put everything mobile-related in there. 😄 Thanks!

Have a nice day! I'll leave too. Gonna visit my grandma and going to take more than 3 hrs :P

[2017-01-01 10:57] hacdias opened #59 "Mobile related TODOs"
- [ ] Make bottom bar look nicer because of the specific buttons on small screens.
- [x] Double tap to open file/directory
- [x] Single selection
- [x] Multiple selection

*References:*

https://developer.mozilla.org/en/docs/Web/API/Touch_events (Handling clicks section)

[2017-01-01 10:57] hacdias commented on #55
Though I'm closing this issue because this is already 'solved'. Let's move to another issue. Anything you find that could be improved on mobile, put on #59 please.

[2017-01-01 11:16] GalvinGao commented on #59
I think you can use an js to listen the event that have been clicked and not clicked, the logic might like:

if you clicked on a not checked file card, then,
if in next 2 seconds you click (again), then open UI else (user click on wish to select it),
else (user clicked on already actived file card) deselect this card.

You may check this out~
@hacdias .

[2017-01-01 11:18] pepa65 commented on #58
Building it for me is probably going to be easier for you than explaining everything to me..! ;-)
I'm on Ubuntu 16.04 amd64

[2017-01-01 11:19] hacdias commented on #59
Yup! I'll check that out tonight hopefully. I've already left home 😀

I though about:
- Double tap to open
- Tap to select
- Long press to select multiple

What do you think?

On Sun, Jan 1, 2017, 11:16 AM Galvin Gao <notifications@github.com> wrote:

[2017-01-01 11:21] hacdias commented on #58
Hey @PePa! I just left home now but I'll built it for you as soon as I
return home :) Thanks for the info!

On Sun, Jan 1, 2017, 11:19 AM PePa <notifications@github.com> wrote:

[2017-01-01 12:28] GalvinGao commented on #59
Good idea! It seems like it need a lot of timers 😝

[2017-01-01 12:28] GalvinGao commented on #59
And a lot of 'if' conditions 😉

[2017-01-01 18:42] hacdias commented on #58
Here is it @pepa65 : https://www.dropbox.com/s/5b0y8f7mrpnd9ai/caddy_linux_amd64?dl=0 Sorry for the delay!

[2017-01-01 18:53] hacdias opened #60 "Details about a certain file or directory"
When clicking on the button 'i' the user should be provided with information about the selected file or directory. This information should be acquired using PROPFIND method to the webdav back end.

For files, there must be an option to require a certain checksum. See #11.

[2017-01-01 20:34] hacdias opened #61 "Create a move file dialog"

[2017-01-01 22:23] hacdias opened #62 "update archiver from @mholt"

[2017-01-02 08:15] hacdias commented on #58
Hey @pepa5, thanks for your opinion! Though, I'm not thinking about
changing the padding of the items.

Right now we support an external stylesheet. Just use the option
'stylesheet' as it is documented in the docs. You can do everything you
want with that stylesheet. You can even override completely the default
styles.

If you need help or something, tell me :)
On Mon, 2 Jan 2017 at 01:17, PePa <n

[2017-01-02 12:18] hacdias opened #63 "Improve editor interface"

[2017-01-02 12:20] #59 closed

[2017-01-02 12:44] hacdias commented on #58
Hey @pepa65, I'll make a simple additional stylesheet you can use with this new version. I'll send it to you here when I'm done.

[2017-01-02 13:52] hacdias commented on #58
@pepa65,

This styles:

[code]

Will produce this:

![image](https://cloud.githubusercontent.com/assets/5447088/21590309/a7afd464-d0f2-11e6-97c4-4f11ba96a4ae.png)

[2017-01-02 13:53] hacdias commented on #58
On the new version, of course. I'm just going to close this issue because it is "done"/"finished". Though, if you have any more doubts about this, you can always contact me here or open a new issue.

[2017-01-02 13:53] #58 closed

[2017-01-02 14:06] #62 closed

[2017-01-02 14:21] hacdias opened #64 "Option to edit the raw frontmatter"

[2017-01-02 14:23] hacdias opened #65 "Improve viewing interface"
Music, video, images and download.

[2017-01-02 14:53] pepa65 commented on #58
Excellent, thanks! I've settled on
[code]
Is this automatically going to be included in the next (0.9.5) build of caddy, or how does it work?? Right now with your build I can't use the filter plugin.

[2017-01-02 15:06] hacdias commented on #58
The build I've sent you only has `filemanager` plugin. As soon as Matt updates everything on the server you'll be able to use the new version of File Manager which is not finished yet.

To use those styles, you'll have to have something like this:

[code]

And put those lines on that file and it will work.

[2017-01-02 17:21] hacdias opened #66 "Change Hugo plugin to keep up with FM design changes"

[2017-01-02 18:49] #63 closed

[2017-01-02 19:55] #65 closed

[2017-01-03 21:39] #66 closed

[2017-01-03 23:12] hacdias opened #67 "Double click on mobile on move dialog"

[2017-01-03 23:12] hacdias opened #68 "Empty json, toml and yaml files give 500"

[2017-01-03 23:17] #61 closed

[2017-01-04 18:18] #68 closed

[2017-01-14 15:36] AstonDavies opened #69 "Reading arrays of tables from config.toml [hugo]"
When reading a config.toml file that contains arrays of tables (such as menu definitions for Hugo) the following error is thrown when trying to save the file from the filemanager:

`14/Jan/2017:14:25:51 +0000 [PANIC /admin/webdav/config.toml] /home/jeremy/Source/gocode/src/github.com/pelletier/go-toml/tomltree_conversions.go:90 - unsupported value type map[string]interface {}: map[weight:80 identi

[2017-01-15 11:48] #64 closed

[2017-01-15 12:13] hacdias commented on #69
Hello @AstonDavies,

This seems to be a problem with the TOML Marshaller/Parser. The same content can be Marshalled using the JSON and YAML Marshallers flawlessly. I'll try some more things.

[2017-01-16 20:03] #69 closed

[2017-01-16 20:04] hacdias commented on #69
Done @AstonDavies 😄

[2017-01-21 19:58] tchncs opened #70 "404 on webdav folder: GET and PUT not possible"
Hi there, i am currently with Revision `15e46f9`.
When i try to upload a file, it fails with:
`"PUT /user/webdav/testimage.jpg HTTP/2.0" 404 9`

My caddyfile entry contains:

[code]

On an older version i just fixed that by creating the webdav folder.
On this version i created the folder, it is also displayed but doubleclick on that ends in a 405.
[code]
While trying to create folder (tmp) from th

[2017-01-21 20:22] hacdias commented on #70
Hello @tchncs! First of all, thanks! 😄 Second: I can't reproduce this error 😕 What else do you have on your Caddyfile?

[2017-01-21 20:24] hacdias commented on #70
uh, can you try cleaning the cache?

[2017-01-21 20:28] tchncs commented on #70
Hi again, @hacdias :)

The full entry for this subdomain contains:

[code]

Which cache do you mean exactly?

[2017-01-21 20:30] hacdias commented on #70
The Caddyfile seems fine. This is really strange because everything is working here.

I'm referring to the browser cache. Maybe it hasn't updated the JS files. Only *maybe*.

[2017-01-21 20:34] tchncs commented on #70
Very silly question:
Isn't cache only available via plugin?
I have no clue where it could be located.

[code]

[2017-01-21 20:36] hacdias commented on #70
No no. The browser cache: on Chrome, Firefox, whatever the browser your using.

[2017-01-21 20:40] hacdias commented on #70
I'm too having troubles with drag'n'drop but not with uploading :/ Hope the fix is the same.

[2017-01-21 20:41] tchncs commented on #70
Aww sure.
So i just opened a second browser which never saw this page before.
Ended in `INVALID_RESPONSE` and caddy tells about `405 42`.
I don't see how but maybe it helps to mention that i am using Archlinux?

[2017-01-21 20:45] hacdias commented on #70
I think I just found the source of the problem 😄 let's see.

[2017-01-21 20:45] tchncs commented on #70
I should have had mention, that, when i create a random folder from the console, it works like a charm.
It only affects the folder called `webdav`.

[2017-01-21 21:05] hacdias commented on #70
The `webdav` folder is something internal. Don't worry about that name. 😄 I think I found the problem (at least part of it) or I found another problem. I'm going to fix this and hope the fix is the same.

[2017-01-21 21:08] tchncs commented on #70
Yeah i know, i just tried to tell that it's only affects this folder. :P

Wooo, hoping the best! :)

[2017-01-21 21:10] hacdias commented on #70
I just pushed code. It fixes some things. I'm just not sure if it fixes *this* but I hope it does. Can you build it from source just to check, please?

[2017-01-21 21:12] tchncs commented on #70
Aww, on my last try to compile caddy with extentions i failed. :(
I tried to explain my problem in the forumthread... .

[2017-01-21 21:13] hacdias commented on #70
Oh, you just have do add `_ "github.com/hacdias/caddy-filemanager"` to the `import` section on `$GOPATH/src/github.com/mholt/caddy/caddy/caddymain/run.go` and then compile 😄

[2017-01-21 21:20] tchncs commented on #70
Huh... odd... so i made it just too difficult for myself on my last try... it worked... . O.o

However, the 404/405 issue is sadly still the same.

[2017-01-21 21:24] hacdias commented on #70
Just to make sure: you updated the repository there?

[2017-01-21 21:29] tchncs commented on #70
Yeah i made something wrong and i am sorry.
I updated the filemanager repository but the revision is still the same after rebuilding caddy.
After that i ran `go clean github.com/hacdias/caddy-filemanager` and it is still the same.
Yeah, have still things to learn about go... a bunch.

[2017-01-21 21:31] hacdias commented on #70
No problem. Execute:

[code]

And after that build and run caddy. Check if the revision changes. If so, tell me if you still have the error.

[2017-01-21 21:33] tchncs commented on #70
Whooops, it did not purged the files as expected!
I used `go generate github.com/hacdias/caddy-filemanager` instead.
However, revision is now correctly but the issue sadly just there.

[2017-01-21 21:36] hacdias commented on #70
😢 I'll try to find out what's the problem. Apparently I fixed another bug I found while searching for this one. My problem is that I'm not being able to reproduce it.

[2017-01-21 21:42] tchncs commented on #70
Hmm i see that.
I am not sure what else i can give you to reproduce... .
I simply  added caddy to the a group the affected user is in go make it able to handle the files.
But i guess this description would only help on a 403 issue. :/
And since now everything is built from git so far we should be more or less at the same state.. .

[2017-01-22 09:02] tchncs commented on #70
I changed the webdav path using `webdav       ../tmp` (everything else ends with `/user/user/folder`.
The result is: `PUT /user/tmp/H6E6ta86_400x400.jpg HTTP/2.0" 501 20`

[2017-01-22 09:45] hacdias commented on #70
@tchncs you're not supposed to need to change the `webdav` option. That is kind of a magic URL. It doesn't have a *physical* counterpart. I still can't reproduce this error. Everything is working fine here.

You're *not* supposed to create a `webdav` folder. If you create a folder with that name, you won't be able to access it. It's like a reserved name.

Make me a favor, since I can't reproduce t

[2017-01-22 09:50] tchncs commented on #70
Okey, i removed the tmp and webdav folder.
Uploading/Editing still gives a 404.
Opening a file with /webdav/ in it, gives the raw output of the file.

[2017-01-22 09:51] hacdias commented on #70
So, the opening works. It means the file *exists* and the URLs are right. The editing, when you save, also gives 404? 😲

[2017-01-22 10:12] hacdias commented on #70
@tchncs some questions for you:

1. Can you rename files?
2. Can you move files?
3. Can you save files?
4. Can you see raw files?
5. Can you open images (or music, or video) and see them?
6. Can you delete files?
7. Can you create files?
8. Can you upload files?

Please answer yes or no for every question and if the answer is 'no' please give me the error, please. I'm really trying to see what's w

[2017-01-22 11:24] tchncs commented on #70
Oh my god, since you fixed the multipath issue, i was able on a second user again where it worked.
So i unified the folder permissions and it worked! 😮
I am so sorry but i only had 403 issues on permission problems so i did not know this would be an option to look at (but i guess i tried it anyway last night but was quite sleepy).

Yes

**No** - no action happens on click
Yes - via drag&drop

Yes

[2017-01-22 11:32] hacdias commented on #70
Hello again @tchncs! Let's see then.

Files can be moved via drag&drop or clicking in that arrow in the top bar after selecting the file.

![image](https://cloud.githubusercontent.com/assets/5447088/22182155/08a4dda2-e096-11e6-8467-6b2a10a9e98b.png)

![image](https://cloud.githubusercontent.com/assets/5447088/22182163/1db6a216-e096-11e6-8581-621b5b0f120b.png)

Does that menu work?

Please check th

[2017-01-22 11:51] tchncs commented on #70
#### Move

I ment the menu and it don't work. ;)
[code]

[code]

#### Delete

[code]
^using button + DEL key
(More informations redirects to the firefox docs)

I often forget the console log, sorry about that. :)
And the F1 menu is quite cool 👍

[2017-01-22 12:26] hacdias commented on #70
Just pushed two fixes. Can you please try them out? 😄

[2017-01-22 12:37] tchncs commented on #70
No. Just kidding. :P
Move works now. 🎉
Delete still doesn't work, no console log from the browser available to show and no change in the caddy log (200).

[2017-01-22 12:42] tchncs commented on #70
Oh, wait, there is an entry in the browserlog but it is blank!
[code]

[2017-01-22 13:04] hacdias commented on #70
I tried using Firefox and it worked. Can you check the logs? It may contain something like `DELETE http://url.goes/in/here`.

[2017-01-22 13:23] tchncs commented on #70
Uhm... odd?
I opened Chromium -> deleted -> worked
Cleared Firefox's cache -> deleted -> nope -> restarted firefox -> deleted -> nope

It does not show the `DELETE` entry when using Firefox but as expected in Chromium.
Just in case i tried two users but it is the same everywhere.

[2017-01-22 13:25] hacdias commented on #70
And you don't get any error? Are you using the latest version of FF? I can
delete with both :/

On Sun, Jan 22, 2017, 1:23 PM tchncs <notifications@github.com> wrote:

[2017-01-22 13:28] tchncs commented on #70
Update: tried Firefox from an other computer and it works.
So i guess Firefox did not cleanly deleted the cache or something odd else.
Using `50.1.0` however, it is with a 99,999% chance my problem, somewhere (not a plugin).
Let's close this issue (as the issue itself is already fixed anyway).

Thanks for your quick and friendly help! 🥇

[2017-01-22 13:28] #70 closed

[2017-01-22 13:29] hacdias commented on #70
You're welcome! Anything else, just come over here. Hope the plugin shows
itself useful!

On Sun, Jan 22, 2017, 1:28 PM tchncs <notifications@github.com> wrote:

[2017-01-24 17:57] iscraft opened #71 "no action found for directive 'filemanager' with server type 'http' (missing a plugin?)"
use caddy 0.9.5 FreeBSD ARMv7
select filemanager in download page(https://caddyserver.com/download)
but error is : no action found for directive 'filemanager' with server type 'http' (missing a plugin?)
Cddyfile:
https://example.com {
tls example@gmail.com
startup /usr/local/sbin/php-fpm -c /usr/local/etc/php.ini -y /usr/local/etc/php-fpm.conf &
root /usr/local/www
gzip
fastcgi / 127.0.0.1:9000 ph

[2017-01-25 08:42] hacdias commented on #71
This issue is not related with this repository but with the build server. Anyway, I also downloaded it from that website and it works. I would suggest you to talk with @mholt, who is maintaining the website, if the error persists.

[2017-01-25 08:42] #71 closed

[2017-01-25 14:56] #42 closed

[2017-01-29 21:04] sinni800 opened #72 "Display PDF inline"
Currently PDFs would only show a "download" link, but wouldn't it possible to show them inline like an image?

You would have to use an iframe (ew, I know), but that's the way to let the browser take care of rendering it. All browsers have PDF renderers built in now so it wouldn't be much trouble. They also have save buttons in the PDF viewers usually.

It would just need to be served with raw=tru

[2017-01-30 22:18] hacdias commented on #72
Hello @sinni800,

It is, indeed, something interesting to add but I've to check the best styles to do it first. I'll add it ASAP 😄

[2017-02-01 13:38] sinni800 opened #73 "Can't upload larger files"
I am unsure if this is a caddy or filemanager thing, I hope I got this right though.

So when I try to upload larger files, it will just stop at a random place (the uplaod button turns into an X) and put this error in the console (on Chrome):

    PUT https://bla/fs/file.pdf net::ERR_CONNECTION_CLOSED.

This error appears with any browser but only Chrome actually spat out the error message.

I am

[2017-02-01 16:07] hacdias commented on #73
Hello @sinni800!

That's a really nice question and I really don't know what I should answer you. I'm not the one who's doing the upload. It's a golang native package called `webdav`. I'll take a look at it. But it seems it must be a limit somewhere on the server side. IDK.

[2017-02-01 17:21] sinni800 commented on #73
Yeah I tried looking if it was anywhere else in the pipeline... I wish someone else could reproduce it first

[2017-02-03 12:00] #72 closed

[2017-02-03 12:20] hacdias commented on #73
Hello @sinni800! I tried running FM on my pc and uploading a 135 MB file. It worked. I know it is on my PC so the speed is really fast but now I wonder if it can be a timeout or something on server side.

[2017-02-03 13:12] sinni800 commented on #73
Do you think it would help if I gave you a file manager running on my server for testings?

[2017-02-03 20:15] hacdias commented on #73
I'm not really sure whether or not it would help. I can deploy it on a server myself to test and check if I get any error. I'll ping you later with my results.

[2017-02-04 11:13] #67 closed

[2017-02-04 14:03] sinni800 commented on #73
I've been testing some and now I almost think something different is up entirely, but I don't even remotely know what. I've seen downloads do the same thing now.

[2017-02-04 14:12] hacdias commented on #73
No problem. I'll leave this issue open if you get more details. If you think it can be related to Caddy, I think we could ping Matt.

[2017-02-04 14:19] sinni800 commented on #73
Alright, after testing with Nginx, with and without SSL and Caddy, with and without SSL (I had a hunch about SSL there), I can conclude it happens only on Caddy and it doesn't matter if I use Filemanager or not.

All my transfers, up or down, break after a few seconds... I never had any big files so this is a new one to me.

[2017-02-04 18:16] hacdias commented on #73
@sinni800 right now they only go into the Caddy builder when @mholt updates the repository on the server. But sooner it will be the plugin developers who control when they're updated on the server. 😄 It'll be great!

[2017-02-04 22:21] mholt commented on #73
Did you disable timeouts and try anyway? `timeouts none`

[2017-02-04 22:34] sinni800 commented on #73
Hi, @mholt

From my first test, that seems to actually solve it, but why is a timeout causing a problem with a *down*load anyway? For uploads I can see request timeouts causing a problem.

[2017-02-04 22:40] mholt commented on #73
There are different timeouts because there are different ways to attack a server. There are read, read header, write, and idle timeouts. (Idle doesn't take effect until Go 1.8.) A write timeout mitigates attacks from clients who download files intentionally very slowly.

[2017-02-04 22:46] sinni800 commented on #73
Hm, I see. But that helped. I will set the timeouts more precisely between the four timeouts... I didn't know I have to set it up for large downloads, too

[2017-02-04 22:49] mholt commented on #73
It needs better highlighting in the Caddy documentation, too. It's a new thing. We'll flush that out.

[2017-02-04 22:52] sinni800 commented on #73
Alright, good to hear. Would be a shame if more people run into this in the future.

[2017-02-05 11:56] hacdias commented on #73
Thanks @mholt 😄
I'll close this now @sinni800!

[2017-02-05 11:56] #73 closed

[2017-02-07 23:41] sinni800 opened #74 "When going backwards in directories, a trailing slash will not be attached"
So when browsing directories, a trailing slash will always be there. As soon as you go back in directories though, the trailing slash will not be added to the path.

So you are in `/path/`, when you enter the folder `dir`, you will have `/path/dir/` in the path. When you use the "go back" feature to go back to `/path/`, you will end up with `/path`

A tiny bug that is just inconsequent behaviour a

[2017-02-08 14:48] hacdias commented on #74
Hey @sinni800! Thanks for reporting this. I'll fix it as soon as I can 😄

[2017-02-08 22:21] hacdias commented on #74
Done 😃

[2017-02-08 22:22] #74 closed

[2017-02-19 04:48] pepa65 opened #75 "Names containing a backslash don't work"
File Manager. Revision a9aaba5.

I'm trying out to what extent names are working correctly in caddy-filemanager. When I click (double-click??) on a file or directory name with a backslash `\` character in it, it will result in a 404.

Caddyfile:
[code]

I had hoped it would work, ie. show the content of the file or directory.

I got the 404 page instead.

Reproduce by `mkdir -p /home/pp/.Atst/pp\\

[2017-02-19 10:08] hacdias commented on #75
This is going to be hard to test since I'm using Windows and it doesn't even allow me to create a file with a backslash on its name!

[2017-02-19 10:44] pepa65 commented on #75
I'm happy to help test. But a virtual machine is super easy to set up. Install any quick Linux (I use Ubuntu) and use `wget -qO- getcaddy.com |bash -s filemanager` and you're good to go.

[2017-02-19 10:45] hacdias commented on #75
Yes, I'm downloading mint atm. Thanks ;)

[2017-02-19 10:49] pepa65 commented on #75
Thanks for working on this. I have reviewed all web-interfaced filemanagers I could lay my hands on, and they all did worse than caddy-filemanager. It can deal with almost anything -- except backslashes..! (I used ` !"#$%&'()*+,:;<=>?@\|[]` as one of my test filenames, and if I removed the backslash, caddy-filemanager worked!)

[2017-02-19 10:50] hacdias commented on #75
Thanks too 😄 I think the problem is that I'm not enconding the URL but I'm not sure. I'll check it.

[2017-02-19 10:51] pepa65 commented on #75
I think you're encoding what you need to, except for the backslash.

[2017-02-19 12:22] hacdias commented on #75
The thing is, the URL is correctly encoded. The error is: ```stat pp/dd: no such file or directory```. Can it be a problem in Go? 😕 I'm going to check.

[2017-02-19 12:25] hacdias commented on #75
Oh, I was the one who caused this problem :|

[code]

[2017-02-19 12:26] hacdias commented on #75
The question is: why have I done that?

[2017-02-19 12:26] hacdias commented on #75
I think it might have been to let the users put the URL with backslashes but it doesn't make any sense :| I'll remove that second line though.

[2017-02-19 12:27] hacdias commented on #75
Yup, it works now. I'll push this fix.

[2017-02-19 12:28] #75 closed

[2017-02-19 12:34] pepa65 commented on #75
Awesome, thanks a lot for all your trouble.

[2017-02-19 12:44] hacdias commented on #75
No problem!

On Sun, Feb 19, 2017, 12:34 PM PePa <notifications@github.com> wrote:

[2017-03-15 22:58] pztrn opened #76 "Installation instructions"
Hello.

I'm trying to install filemanager plugin in Caddy by hand, as I need custom Caddy build. According to [this page](https://github.com/mholt/caddy/wiki/Extending-Caddy) this can be done by adding import statement to run.go. But if I try to do that (as well as install any plugin that requires filemanager, like hugo) - I got following error:

[code]

How to install this plugin properly and why

[2017-03-16 16:11] hacdias commented on #76
There is a specific section on the wiki about that: https://github.com/hacdias/caddy-filemanager/wiki#developers .

[2017-03-16 16:11] #76 closed

[2017-03-18 03:41] ocdtrekkie opened #77 "Editing config.toml file saved content as JSON"
### 1. Which revision of File Manager are you running (check the footer on any page)?
Revision 02e2bec.

### 2. What are you trying to do?
I edited the title of the config.toml file and saved it. I discovered that the content in the config.toml file was now in JSON format.

### 3. What is your entire Caddyfile?
I deleted it already. :/ But it merely contained the baseURL, languageCode, and title f

[2017-03-18 03:51] ndarilek commented on #77
FWIW, your entire Caddyfile is:

[code]

[2017-03-18 10:03] hacdias commented on #77
Hello @ocdtrekkie! Sorry for hearing this 😕 Have you got any error on DevTools or in Caddy's log?

This has happened before, but I thought it was already fixed. Could you try building Caddy from source with the newest version of File Manager, please?

[2017-03-19 02:14] ocdtrekkie commented on #77
@hacdias That question would have to end up falling to @ndarilek in terms of building from source and such.

It looks like we're pushing Caddy log out to stdout, which I do have a capture on. As you can see at the end, after I edit the config.toml file again, I get a parsing error for "unexpected token":

[code]

[2017-03-19 17:14] ndarilek commented on #77
Do you have any info on how to build from source?

I know this is normally easy with Go projects, but what I'm *really*
after is the Hugo plugin, which uses this plugin, which runs inside of
Caddy. So how do I get a Caddy build that includes both these plugins?
These are the only two I need for this project. I don't know if
requiring the Hugo plugin also handles building this one or not.

Thanks.

[2017-03-19 20:14] hacdias commented on #77
Hey!

@ndarilek I've the instructions here (https://github.com/hacdias/caddy-filemanager/wiki#developers). If you have any doubt, tell me 😄

[2017-03-19 20:27] snassar opened #78 "Internal server error on clicking the settings icon"
### Instructions (remove before submiting):

### 1. Which revision of File Manager are you running (check the footer on any page)?

a9aaba5

### 2. What are you trying to do?

I clicked the Settings icon

### 3. What is your entire Caddyfile?
[code]

### 4. What did you expect to see?

I am not sure. Maybe a config page for the site?

### 5. What did you see instead (give full error messages and/o

[2017-03-19 20:39] ndarilek commented on #77
Thanks. This issue is filed against filemanager, but it occurs using the
Hugo plugin. I'm assuming the instructions are similar for that plugin too?

And, if so, do I need to `go get` this one, or is it enough to just `go
get` and import the Hugo plugin?

Thanks.

[2017-03-19 20:48] hacdias commented on #78
Can you please give me your Hugo config file, please? So I can try to reproduce

[2017-03-19 20:48] hacdias commented on #77
Yup! don't forget `go generate` in both.

[2017-03-19 22:13] snassar commented on #78
Here it is:

[code]

Even with it doesn't work:

[code]

[2017-03-19 22:24] hacdias commented on #78
What's the file extension? The file name?

[2017-03-19 22:28] hacdias commented on #78
I used the same file and I didn't get any error 😕

[2017-03-19 22:29] hacdias commented on #78
Could you please try using the latest version, building it from source? 😄

[2017-03-22 19:15] hacdias commented on #78
Hello @snassar! I've checked and this was already fixed in the meanwhile (between commit a9aaba5 and the most recent one). I'll close this and I hope @mholt can update this on Caddy server when he's got time
 😄

[2017-03-22 19:15] #78 closed

[2017-03-26 12:40] #57 closed

[2017-03-27 17:59] txchen opened #79 "webdav not working if baseUrl is not `/`"
### Instructions (remove before submiting):

1. Are you asking for help with using Caddy or File Manager? Please use our forum instead: https://forum.caddyserver.com.
2. If you are filing a bug report, please answer the following questions.
3. If your issue is not a bug report, you do not need to use this template.

### 1. Which revision of File Manager are you running (check the footer on any pag

[2017-03-27 18:37] hacdias commented on #79
Hello @txchen, that build/version is two month old. Could you please try with the latest one, please?

[2017-03-27 18:39] txchen commented on #79
Okay, will have a try. @hacdias
I downloaded the caddy + filemanager from caddy official site. Maybe you should update the version there, too?

[2017-03-27 18:42] hacdias commented on #79
Could you build it from source, please? Right now @mholt is the one who's in charge of updating the server (though that will change soon) so I can't really update the plugin there. :/

[2017-03-27 19:03] txchen commented on #79
Just tried to build from source, now the version is `df081c8`

Still got the same issue.

[2017-04-04 10:17] Flameborn opened #80 "The Default template is not accessible enough for Screen Reader users"
Currently, Caddy-FileManager's default template does not provide enough information to screen readers.
For example, in the file list, folders or files are not marked up properly as a link or a clickable element. Items are presented as DIV elements. Without proper ARIA markup, screen readers see this as standard text and are unable to click on any item to navigate to the selected folder, or downloa

[2017-04-04 15:33] hacdias commented on #80
Hello @Flameborn! You're right. Unfortunately, I can't to this right now because I'll be some time away from home. But if you have got some spare time, you could make a Pull Request if you want 😄

[2017-04-06 15:00] sugacube opened #81 "User specific allow/disallow not granted."
### 1. Which revision of File Manager are you running (check the footer on any page)?
Served with Caddy and File Manager. Revision 02e2bec.

### 2. What are you trying to do?
user authentication, disallow a user to upload a file

### 3. What is your entire Caddyfile?
[code]

### 4. What did you expect to see?
open browser, go to page localhost:8080/files, login with user=user2, password=pass
Expec

[2017-04-07 10:54] sugacube opened #82 "It would be useful to mention the importance of the caddyserver general timeout setting"
This may be a minor issue but it would be useful to mention the importance of the general timout setting in caddyserver when using file manager. Maybe in the file manager documentation section.

Default timeouts of caddyserver are quite low when performing file upload/download of large files.

When an upload fails in file manager, it is not immediately obvious this may be caused by the caddyserver

[2017-04-11 08:44] windymindy opened #83 "filemanager: can't disallow new file upload with basicauth"
1. What version of Caddy are you running (caddy -version)?

CADDY 0.9.5 32-bit for windows

2. What are you trying to do?

I was checking https://caddyserver.com/docs/filemanager example with bassicauth right at the bottom of the doc.

3. What is your entire Caddyfile?

filemanager /admin {
show ./
allow_commands false
admin:
allow_commands true
allow_command rm
allow_command mv
allow dotfiles
man

[2017-04-12 14:37] hacdias commented on #82
Hello @sugacube! Thanks for the suggestion. I've added a note to this repository's README which is going to be the main documentation soon (after 20th April I guess).

[2017-04-12 14:37] #82 closed

[2017-04-12 20:01] Flameborn opened #84 "Internal Server Error in the XML response when listing a dir w/o read permission"
I am using Caddy-FM revision eeeec31.
When listing a directory via WebDav, which has at least one directory without read permission, Caddy logs: Multiple response.WriteHeader calls. This results in an: Internal Server Error], string to be added to the end of the directory listing. As a result, the XML is invalid, resulting in an error via numerous WebDav clients (Cadaver, WinSCP, Lftp, CarrotDav,

[2017-04-12 20:12] hacdias commented on #84
Thanks for reporting this. I'll check this out as soon as I can 😄 and sorry for the problems this can bring to you.

[2017-04-12 20:20] hacdias commented on #77
Closing due to inactivity. Although, if I'm right, this issue was fixed between revision 02e2bec and the most recent one. 😄

[2017-04-12 20:20] #77 closed

[2017-04-12 20:20] hacdias commented on #79
Closing due to inactivity. Although, if I'm right, this issue was fixed between revision 02e2bec and the most recent one. 😄

[2017-04-12 20:22] hacdias commented on #83
Hey @windymindy! Sorry for the delay. I'll be some days away from home and hopefully Saturday I'll be able to try this. 😄

[2017-04-12 20:23] hacdias commented on #81
I'm just going to merge this with #81 because they are probably are the same bug.

[2017-04-12 20:23] #81 closed

[2017-04-12 20:27] hacdias commented on #84
Not sure if this is a bug with FileManager itself or with Golang's Webdav library.

[2017-04-12 20:29] Flameborn opened #85 "Add HEAD method support"
According to RFC 2616, and [This](http://stackoverflow.com/questions/16578345/should-webdav-server-support-head-on-folders), a HEAD method is the same as a GET method, with the exception that HEAD has an empty message body in the response. Currently, this makes Caddy-FM incompatible with LFTP.
This method should be implemented for best compatibility.

[2017-04-12 20:36] hacdias commented on #85
Sorry, but I'm using the official [Golang Webdav library](https://godoc.org/golang.org/x/net/webdav) and that's something I can't control 😞

[2017-04-12 20:38] Flameborn commented on #84
Thank you very much. WebDav is a very nice implementation and a much needed feature for Caddy-FM. I'm glad to help.
Could we test this against GoLang's WebDav library? If it is indeed a bug there, I'd be happy to let them know.

[2017-04-12 20:38] hacdias commented on #85
Although, I can "fake" a GET request and return only the headers in that case, making it compatible. What do you think?

[2017-04-12 20:43] hacdias commented on #84
Just like you, I'm receiving the message appended to the XML file. This is my sample:

[code]

I'm going to try to figure out if this is a problem of FM.

[2017-04-12 20:47] Flameborn commented on #85
I'm not sure if this has been raised with the [WebDav library](golang.org/x/net/webdav) developers, but I think having a fake GET method would be  the best option, until they provide a proper fix. Having said that, I perfectly understand if you do not wish to do this and wait for an official fix from the GoLang community.

[2017-04-12 20:52] hacdias commented on #84
I just wrapped the Response Writer to catch the "WriteHeader" calls from the official WebDav lib and they call it twice! One for 207 code and the other for 500 error. So, I think it is a problem of them 😞

Similarly for issue #85, I can wrap the response writer to handle only the first call to WriteHeader and Write functions while the bug isn't solved.

[2017-04-12 20:58] Flameborn commented on #84
This would be great, thank you! I'm going to create an issue for both of these and update #84 and #85 accordingly, once they are fixed in the library.

[2017-04-12 21:17] hacdias commented on #84
Thanks 😄 I'll create the wrapper Saturday hopefully (not home the next few days).

[2017-04-13 01:39] txchen commented on #79
@hacdias inactivity? I mentioned that I have tried latest revision `df081c8` and got the same issue, so I believe this is not fixed yet.

[2017-04-13 16:17] hacdias commented on #79
So sorry @txchen 😞  I misread what you said. I'll reopen the issue and I'll try to check this out this weekend. It's hard now since I'm not on my own PC. That's why I'll try to fix some of other issues theoretically, without testing them.

[2017-04-13 16:22] hacdias commented on #85
Curiously, i was checking webdav's source code and it does seem to support HEAD (check it: https://github.com/golang/net/blob/master/webdav/webdav.go#L52) so the problem must be mine. I'll see what I can do about this.

[2017-04-13 17:43] hacdias commented on #85
What's the response you get if you do a HEAD request? @Flameborn

[2017-04-13 19:06] Flameborn commented on #85
curl -I https://domain.com/webdav returns:
HTTP/1.1 405 Method Not Allowed
This is the same as what I get with LFTP.

[2017-04-13 19:42] hacdias commented on #85
Oh but I think that GET doesn't work for collections on Webdav, not the way
it does for files:

----
9.4 GET, HEAD for Collections

The semantics of GET are unchanged when applied to a collection, since GET
is defined as, "retrieve whatever information (in the form of an entity) is
identified by the Request-URI" [RFC2616]. GET, when applied to a
collection, may return the contents of an "index.htm

[2017-04-15 13:00] #79 closed

[2017-04-15 13:01] hacdias commented on #79
Hello @txchen! I just pushed a fix (apparently GitHub doesn't understand the meaning of "Possibly" and closed the issue haha). I think it's fixed because it now works here. Check it out please 😄 Anything else, just tell me.

[2017-04-15 15:04] hacdias commented on #85
Hello! You have any feedback related to this?

[2017-04-15 15:26] Flameborn commented on #85
I am sorry, I was not able to reply earlier.

Theoretically, I believe that the commonly accepted way to do this is just to return a directory listing, either in XML or in any other form.
Interestingly, ‘curl -X “GET” https://user:pass@domain.com/dav/folder1' <https://user:pass@domain.com/dav/folder1'> returns ‘MEthod Not allowed’, similarly to a HEAD request.
Both GET and HEAD seem to work all ri

[2017-04-16 08:05] hacdias commented on #85
What is the error you get on LFTP?

[2017-04-16 08:18] hacdias commented on #84
From what I understood, once the code encounters an error (this case Forbidden), it will stop searching the other directories. I just tested it and it works like that. So, after founding a file it hasn't permission to go into, it will just return an error.

Thus, I don't know if it is worth it to create this handler because it would create false expectations and false information: you would receiv

[2017-04-16 08:23] hacdias commented on #83
Hello @windymindy! Here, when I open it with editor's account, I don't even see an upload button :/

[2017-04-16 08:24] hacdias commented on #83
What's the information you have in the bottom of the page (sth like `Served with Caddy and File Manager. Revision xxxxxx.`)? What's the revision?

[2017-04-16 10:20] windymindy commented on #83
Hello there!
I have made up a quick video that reproduces the problem, where Caddy with Filemanager plugin is installed and run from scratch.
I pass basic auth with editor's credentials and successfuly upload a file.
Served with Caddy and File Manager. Revision 02e2bec.
Hope this helps.

https://youtu.be/VjGGPWMVE9M

[2017-04-16 10:40] Flameborn commented on #85
It tries to get a directory list, but fails with: 'Operation not supported: 405 Method Not Allowed (HEAD)’

[2017-04-16 10:44] hacdias commented on #85
Is LFTP supposed to support Webdav? In their website it says "It supports FTP, HTTP, FISH, SFTP, HTTPS and FTPS protocols.". I know WebDav runs over HTTP, but WebDav has *different* specifications.

[2017-04-16 10:46] Flameborn commented on #84
You are right, that would not be the correct way to solve this. What should happen is that if there is an internal server error, it should not return an XML response at all, as WebDav clients see it as invalid XML at the moment.

[2017-04-16 10:50] Flameborn commented on #85
On the list of features page, it is marked as having partial webDav support. See here http://lftp.tech/features.html <http://lftp.tech/features.html>
While it does not support WebDav fully, it does work with other WebDav libraries, such as SabreDav (http://sabre.io/ <http://sabre.io/>), or FuguHub (http://fuguhub.com <http://fuguhub.com/>).

[2017-04-16 10:58] hacdias commented on #85
Exactly, **partial** support. Since the `GET` method, for collections, doesn't have a defined behavior, that client should be using `PROPFIND` for WebDAV and not `GET`.

I don't know if I should emulate a `PROPFIND` request **or** render an HTML file with the listing in this case.

So, since this is a bit unclear, I think I can emulate a `PROPFIND` request. Although, that will need a bit more proc

[2017-04-16 10:59] hacdias commented on #84
The best bet, in my opinion, is to open an issue/contact the Golang team. What do you think?

[2017-04-16 11:03] Flameborn commented on #85
Personally, I vote for a PROPFIND, as it returns a standards-compliant directory listing.

[2017-04-16 11:06] hacdias commented on #83
Hello @windymindy! I just run it with the version from caddyserver.com and the latest one. You're right. The one we download from the website has that bug, but in the newest revision that bug doesn't happen anymore. 😄 After 20th April, when the new Caddy website is released, you'll be able to download the newest version, right @mholt?

Hope it doesn't cause you any troubles. You can also build it

[2017-04-16 11:07] Flameborn commented on #84
It is certainly something that needs fixing on their end, even if it may take a while. It might be a good idea to mention this limitation in Caddy-FM’s README.md, until it is fixed.

Thank you very much for looking into this!

[2017-04-16 12:34] hacdias commented on #83
This is getting a lot stranger than I would have thought. The same version, from caddyserver.com doesn't work, and if built from source, works. This is really strange but I think I figured out a way for it to work: I saw the code of basicauth and they use a context variable to pass the username.

[2017-04-16 12:39] hacdias commented on #83
So, I just took my conclusions and figured everything out 😄

It doesn't work on Caddy 0.9.5 because the `basicauth` directive removes the authentication header to prevent the upstream middleware to get the passwords and eventually leak them [(ref)](https://github.com/mholt/caddy/blob/v0.9.5/caddyhttp/basicauth/basicauth.go#L62).

Right now, it sends the username in the request as a context variabl

[2017-04-16 13:01] #85 closed

[2017-04-16 15:54] mholt commented on #83
@hacdias Correct, on master Caddy no longer removes the Authorization header and sets the username on the request context. And the new version will be available on April 20.

[2017-04-16 16:50] hacdias commented on #83
Thanks @mholt! So, I'll close this issue because it is already fixed. We just have to wait for the new version 😄

[2017-04-16 16:50] #83 closed

[2017-04-22 00:55] reed-jones opened #86 "Link in description 404's"
Current link in description is https://caddyserver.com/docs/filemanager which 404's. Should be https://caddyserver.com/docs/http.filemanager I believe.

[2017-04-22 08:49] hacdias commented on #86
Thanks! Just changed it 😄

[2017-04-22 08:49] #86 closed

[2017-04-23 13:28] hacdias commented on #11
So much time since the last reply! God! I'll implement this today @mevric !!

[2017-04-23 14:15] #11 closed

[2017-04-23 14:15] #60 closed

[2017-04-25 07:55] overnilx opened #87 "javascript error occured while setting 'allow_edit' flag to false"
### Env
Chrome  58.0.3029.81 (64-bit)
MacOS 10.11.6

### Caddyfile
[code]

### error in chrome console
[code]

[2017-04-25 09:55] #87 closed

[2017-04-25 09:56] hacdias commented on #87
Thanks 😄

[2017-04-27 14:43] tkfu opened #88 "Feature request: Option to make search case-insensitive"
Case-sensitive search is good for some use cases, bad for others. It would be nice to at least have the option of doing case-insensitive searches, either through a check box next to the search bar, or by setting a config option.

[2017-04-27 18:21] hacdias commented on #88
I'll leave this opened and it is, indeed, a good feature to have 😄 I'll dig on this as soon as I can!

[2017-05-01 11:19] mqus opened #89 "What is the show path relative to?"
I really think that setting the default baseurl to `/` is misleading and outright dangerous... It would be much better to first consider the root Directory set by the Caddyfile(or the Caddyfile location).
There are 3 main benefits which would come with this change:
1. No security implications by default (to have read access to the `/` directory of any server/home pc is not a good idea, as you can

[2017-05-01 11:43] mqus commented on #89
Whoops, I didn't understand the documentation correctly, sorry for that, my question should have to be changed. in the documentation is mentioned that the path in show can be relative, relative to what?

currently my caddyfile looks like that:
`https://x.x.x:1320, :1319 {

	root /srv2/http-browse
	filemanager {
		webdav /webdav
	}
	browse
	timeouts 0

	basicauth / xxx xxx
	log /var/log/caddy.log
}

[2017-05-01 19:25] hacdias commented on #89
The `show` option can be either an absolute path or a relative path to the location where Caddy is being executed.

In your Caddyfile, you can replace what you have:

[code]

for

[code]

This is because the option `webdav` has `/webdav` by default and you don't need to specify if you want to maintain that path.

Hope it helped 😄
Feel free to ask more questions

[2017-05-17 08:24] isdamir opened #90 "Using webdav to upload large files"
Using webdav to upload large files takes up memory equal to the size of the file, and the upload speed is very unstable.

[2017-05-17 08:28] isdamir opened #91 "Webdav points to a lot of directory files will be a direct mistake"
i want use webdav,But I found that if webdav points to a lot of path files will be directly wrong。

This page contains the following errors:

error on line 1 at column 6619032: Opening and ending tag mismatch: href line 0 and displayname
Below is a rendering of the page up to the first error.

[2017-05-17 09:54] isdamir commented on #90
i found some link:
https://github.com/mholt/caddy/issues/1310
https://github.com/mholt/caddy/pull/1314/commits/8048e9c3bc35572a296ad86fd556787bd0dab617

but not work in caddy-filemanager

[2017-05-17 13:28] hacdias commented on #90
Hello @isdamir! Right now I'm using Golang's official [webdav package](https://godoc.org/golang.org/x/net/webdav) so I can't do much about it. Although, I'm not sure if it's related to `webdav` package or Caddy itself. Do you know anything about this @mholt?

[2017-05-17 13:30] hacdias commented on #91
Sorry, I didn't quite understand what you said :/

[2017-05-17 14:05] mholt commented on #90
No clue. Some profiling would be needed to figure out why it's using a lot of memory.

[2017-05-19 05:59] isdamir commented on #90
OK, I try to debug, have more information and then feedback.

[2017-05-19 06:02] isdamir commented on #91
The problem is no problem after I have changed the path.befor i use home path.There may be a special file name may also be possible.

[2017-05-27 06:57] hacdias commented on #88
Hello @tkfu!

Would you like to make a case insensitive search like this:

```search terms... case:insensitive```

It would be like an option, just like we do on Google search to create some filters.

[2017-05-27 07:38] #89 closed

[2017-05-27 07:46] hacdias commented on #88
Already available on `caddyserver.com`!

[2017-05-27 07:46] #88 closed

[2017-05-28 11:34] PaulsBarkans opened #92 "File information dialog is broken on Firefox"
![screenshot from 2017-05-28 14-25-46](https://cloud.githubusercontent.com/assets/1485739/26528343/75e8c6d8-43b2-11e7-8664-49d85d90d499.png)

Caddy server (version 0.10.3) bundled with File Manager from caddyserver.com (downloaded today).
Firefox 53.0.2 (64-bit)
OS: Linux Mint 18.1 (based on Ubuntu 16.04)

P.S. It's ok on Chrome.

[2017-05-28 12:38] hacdias commented on #92
Can you please tell me if there is any error on the developer tools?

Oh, and one more question: does the bar shows up like that on Chrome too? (with two lines of icons)

[2017-05-28 19:58] PaulsBarkans commented on #92
Error in FF console:
[code]

No error on Chrome and dialog also shows ok on Chrome.

[2017-05-29 15:03] rgarrigue opened #93 "Alternative CSS ?"
Hello

Thanks for the plugin, very nice job. I saw in the README.md plan for a doc to explain how to edit CSS. Is there already some alternative css I could try ?

Best regards,

[2017-05-29 19:25] hacdias commented on #93
Hello @rgarrigue! Do you want to add your own stylesheet or make a custom Caddy build with FileManager? Probably the first would be the easier and it can be done with the `styles` option.

[2017-05-29 20:16] hacdias commented on #92
I'll fix this as soon as I can 😄

[2017-05-30 07:44] rgarrigue commented on #93
Hi @hacdias

The `styles` is exactly what I had in mind. So it's all about c/c https://raw.githubusercontent.com/hacdias/caddy-filemanager/master/_embed/public/css/styles.css and customize it, am I right ?

Is there already by any chance some alternative ? I'm very far from being a CSS pro, I'ld find it easier to make a diff between two 'valid' css to see the relevant stuff right away :-)

Thanks,

[2017-05-30 13:07] hacdias commented on #93
Hello!

The file you mentioned is _always_ present. The `styles` option lets you add your own stylesheet so you can override the defaults. Your stylesheet will be prioritized over the default's.

So, if your own stylesheet is empty, File Manager will be shown as usual. But if you add some rule that overrides another, you'll see the overriding live too.

I don't if I explained well, but let me know

[2017-05-31 18:19] rgarrigue commented on #93
Ok, gonna try fiddling with that whenever I got some free time. Thanks !

[2017-05-31 18:19] #93 closed

[2017-06-01 08:19] hacdias commented on #93
You're welcome. If you need something else, just tell me.

[2017-06-02 15:08] #92 closed

[2017-06-02 15:57] hacdias commented on #92
Fixed and deployed 😄

[2017-06-18 16:34] hacdias opened #94 "Allow to download file with correct extension from listing"

[2017-06-19 07:59] xxfaxy opened #95 "Can not upload 4GB file"
[code]
I have config 4GB

[2017-06-19 13:16] hacdias commented on #95
Hello! Sorry for hearing that. Which error do you get? Could you please show me if there are any errors on the Developers Console on your browser?

[2017-06-20 13:36] aallouche opened #96 "WebDav Only ?"
### 1. Have you downloaded File Manager from caddyserver.com? If yes, when have you done that? If no, and you are running a custom build, which is the revision of File Manager's repository?

directive http.filemanager from official caddy 0.10.1

### 2. What are you trying to do?

As per the [documentation](https://caddyserver.com/docs/http.filemanager) it should be possible to serve webdav only an

[2017-06-20 18:55] hacdias commented on #96
Hello @aallouche,

Try changing to:

[code]

WebDav path is relative to filemanager's own path 😄
Tell me if it works, please.

[2017-06-21 08:10] aallouche commented on #96
Hi @hacdias

Thank you for your reply.
I tried multiple combinations without success.

Using your config (with `webdav /` directive, filemanager GUI is stil accessible on /key
Webdav is not activated on /key but falls back to /key/webdav.

If you have any further idea... Maybe the documented feature is not actually implemented (I didn't check the source code, though)

[2017-06-21 20:26] hacdias commented on #96
Hello @aallouche!

Sorry for this. I'll have an exam this Friday and I won't be able to solve this for now. Although, I tell you that there is a complete rewriting of this plugin and I'll fixe this then!

It sound ok? 😄

[2017-06-22 15:55] aallouche commented on #96
No worries @hacdias
I'll fall back to the default behaviour and redirect the filemanager path to "hide it" manually

[2017-06-23 20:35] hacdias commented on #96
Thanks @aallouche! I'll start working on the new version next week and I'll try to fix as many issues as possible while rewriting it 😄 This will, of course, be fixed.

[2017-06-29 11:10] crvv opened #98 "Cannot download caddy with this plugin on https://caddyserver.com/download"
### 1. Have you downloaded File Manager from caddyserver.com? If yes, when have you done that? If no, and you are running a custom build, which is the revision of File Manager's repository?

Yes.
Thu Jun 29 11:02:18 UTC 2017

### 2. What is your entire Caddyfile?

### 3. What are you trying to do?
Download Caddy with plugin filemanager on caddyserver.com.

### 4. What did you expect to see?
Downlo

[2017-06-29 11:56] hacdias commented on #98
Hello @crvv! Thanks for reporting. I'm aware of this and I'm waiting for @mholt to wake up 😅 Different timezones...  I've already tried to solve it, but I'm getting an error too when trying to change the options on our console.

Anyway, sorry for this. It was my fault. I'm making a complete rewrite on how this plugin works, and yesterday I went to the Developers Panel and changed some options. I s

[2017-06-29 16:01] mholt commented on #98
Might also be a bug in the devportal (my fault) -- just not sure yet!

[2017-06-29 17:32] hacdias commented on #98
Solved! Thanks @mholt 😄

[2017-06-29 17:32] #98 closed

[2017-06-29 17:33] hacdias commented on #98
Ping @crvv

[2017-07-01 07:39] AsakuraFuuko opened #99 "Can't rename a file include Chinese characters"
### 1. Have you downloaded File Manager from caddyserver.com? If yes, when have you done that? If no, and you are running a custom build, which is the revision of File Manager's repository?

directive http.filemanager from official caddy 0.10.4

### 2. What is your entire Caddyfile?
[code]

### 3. What are you trying to do?
I'm trying to rename files with new names that include Chinese characters

[2017-07-01 08:01] hacdias commented on #99
Hello!

Thanks for pointing this out @AsakuraFuuko! A new version is coming and I promise I'll fix this 😄 (already working on it!).

It will certainly be available in the next release. And sorry for the troubles it may have causes 😞

[2017-07-01 08:14] hacdias commented on #99
I'll leave here a checklist because there are more things not working right now:

- [ ] Delete (when file's opened)
- [ ] Move

[2017-07-01 08:35] hacdias commented on #99
I think this is already fixed so when the next version is released, I'll ping you 😄

[2017-07-02 13:50] hacdias commented on #96
Hello @aallouche!

I'm thinking about removing the WebDAV from File Manager plugin and eventually I could create a plugin dedicated *only* to WebDAV. What do you think?

[2017-07-03 09:55] aallouche commented on #96
Hi @hacdias

Well it makes perfect sense to me to have a dedicated module, though I don't know how much Caddy users rely on this feature.
WebDAV is still very nice to have besides a plain filemanager.

[2017-07-03 10:22] hacdias commented on #96
Hello @aallouche!

I'm thinking about doing this:

- Having a WebDav plugin for those who only want to use webdav.
- And have a remote option on File Manager using WebDAV.

I think that'd be the best. What's your thoughts?

[2017-07-03 10:31] aallouche commented on #96
That would be just great!

<http://www.xcg-consulting.fr>

*Alexandre Allouche*
Head of Innovation
59 rue Meslay, 75003 Paris
 [image: Afficher l'image d'origine] +33 1 83 62 72 86
 [image: Afficher l'image d'origine] +33 6 58 36 27 55

2017-07-03 12:22 GMT+02:00 Henrique Dias <notifications@github.com>:

[2017-07-09 08:45] messyidea opened #100 "Occupied too much memory when showing the large file."
### 1. Have you downloaded File Manager from caddyserver.com? If yes, when have you done that? If no, and you are running a custom build, which is the revision of File Manager's repository?

Yes. The newest caddy with filemanager plugin. Version 0.10.4.

### 2. What is your entire Caddyfile?
[code]

### 3. What are you trying to do?
It will occupied too much memory when showing the large file.

##

[2017-07-10 07:26] hacdias commented on #100
Oh, I think I just replicated this: it also happens when you download a file?

[2017-07-10 08:38] messyidea commented on #100
Thank you~

[2017-07-10 09:31] #100 closed

[2017-07-10 13:40] messyidea opened #101 "Can you provide some detail about how to build this plugin with caddy?"
Hi,

At last issue, with your help, this memory problem has fixed.
I want the newest plugin, but the offical caddy website have not update.
So I want to build it by myself, but I have met some problems now.

I followed this [tutorial](https://github.com/mholt/caddy/wiki/Extending-Caddy) and some commands at [travis-ci](https://travis-ci.org/hacdias/filemanager). Finally I got a binary about caddy.

[2017-07-10 14:02] hacdias commented on #101
Hello @messyidea!

I'm doing a complete rework on this plugin and the new version will be out soon and I'll leave the instructions afterwards.

But if this is a urgent thing, I can write them today.

[2017-07-10 14:18] messyidea commented on #101
Hi,
It's not very urgent to me now.
Just finish your own work first :)
Thank you ~

[2017-07-10 14:52] hacdias commented on #101
I'll leave more information afterwards, but try building 465b10a the way you did before. It should work.

[2017-07-18 14:02] hacdias commented on #1
This issue was moved to hacdias/filemanager#113

[2017-07-18 14:04] hacdias commented on #2
This issue was moved to hacdias/filemanager#114

[2017-07-18 14:05] hacdias commented on #3
This issue was moved to hacdias/filemanager#115

[2017-07-18 14:05] hacdias commented on #5
This issue was moved to hacdias/filemanager#116

[2017-07-18 14:05] hacdias commented on #6
This issue was moved to hacdias/filemanager#117

[2017-07-18 14:05] hacdias commented on #7
This issue was moved to hacdias/filemanager#118

[2017-07-18 14:05] hacdias commented on #8
This issue was moved to hacdias/filemanager#119

[2017-07-18 14:06] hacdias commented on #9
This issue was moved to hacdias/filemanager#120

[2017-07-18 14:06] hacdias commented on #10
This issue was moved to hacdias/filemanager#121

[2017-07-18 14:08] hacdias commented on #10
This issue was moved to hacdias/filemanager#122

[2017-07-18 14:08] hacdias commented on #12
This issue was moved to hacdias/filemanager#123

[2017-07-18 14:14] hacdias commented on #13
This issue was moved to hacdias/filemanager#124

[2017-07-18 14:16] hacdias commented on #25
This issue was moved to hacdias/filemanager#127

[2017-07-18 14:16] #25 closed

[2017-07-18 14:17] hacdias commented on #40
This issue was moved to hacdias/filemanager#128

[2017-07-18 14:17] #40 closed

[2017-07-18 14:17] hacdias commented on #41
This issue was moved to hacdias/filemanager#129

[2017-07-18 14:17] #41 closed

[2017-07-18 14:17] hacdias commented on #53
This issue was moved to hacdias/filemanager#130

[2017-07-18 14:17] #53 closed

[2017-07-18 14:17] hacdias commented on #80
This issue was moved to hacdias/filemanager#131

[2017-07-18 14:17] #80 closed

[2017-07-18 14:18] hacdias commented on #101
This issue was moved to hacdias/filemanager#132

[2017-07-18 14:18] #101 closed

[2017-07-18 14:18] hacdias commented on #99
This issue was moved to hacdias/filemanager#133

[2017-07-18 14:18] #99 closed

[2017-07-18 14:18] hacdias commented on #96
This issue was moved to hacdias/filemanager#134

[2017-07-18 14:18] #96 closed

[2017-07-18 14:18] #95 closed

[2017-07-18 14:18] hacdias commented on #91
This issue was moved to hacdias/filemanager#136

[2017-07-18 14:18] #91 closed

[2017-07-18 14:20] hacdias commented on #84
This issue was moved to hacdias/filemanager#138

[2017-07-18 14:20] #84 closed

[2017-07-18 14:21] hacdias commented on #90
This issue was moved to hacdias/filemanager#139

[2017-07-18 14:21] #90 closed

[2017-07-18 14:21] hacdias commented on #94
This issue was moved to hacdias/filemanager#140

[2017-07-18 14:21] #94 closed